/**
 * Project
 *
 * Project specific variables and
 * settings.
 */

// Classes
$classes: true;
// Note: Setting this value to false will result in helper classes not being
// compiled.

// Typography
$type: (
    body-size:      1.4em,
    root-size:      1.4rem,
    body-font:      '-apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Arial", sans-serif',
    body-weight:    400,
    heading-font:   '"Merriweather", -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Arial", sans-serif;',
    heading-weight: 700,
    monospace-font: "Source Code Pro,Menlo,Monaco,Consolas,Courier New,monospace"
);

// Breakpoints
$breakpoints: (
    extra-small:    320px,
    small:          420px,
    medium:         768px,
    large:          960px,
    extra-large:    1120px
);

// Colours
$colours: (
    primary:        #465983,
    accent:         #3dd483,
    neutral:        #1b75df,
    negative:       #d4502c,
    positive:       #14b44f,
    warning:        #e2cc3b,
    'black':        #323232,
    dark-grey:      #434343,
    'grey':         #666,
    light-grey:     #b0b0b0,
    faded-grey:     #eee,
    'white':        #fff
);

// Container Widths
$container: (
    extra-small:    42rem,
    small:          60rem,
    medium:         72rem,
    large:          96rem,
    extra-large:    112rem
);

// Border Radius
$border-radius: (
    extra-small:    .1rem,
    small:          .2rem,
    medium:         .3rem,
    large:          .5rem,
    extra-large:    .6rem
);

// Aspect Ratios for Media Elements
$aspect-ratios: (
    '16:9':         56.25%,
    '4:3':          75%
);

// Card Shadows
$card-shadows: (
    slightly-raised:    .1em .1em .3em rgba(black, .08),
    raised:             .1em .1em .6em rgba(black, .12),
    floating:           .3em .3em 1.2em rgba(black, .2)
);

// Icon Sizes
$icon-sizes: (
    extra-small:    .7em,
    small:          .9em,
    medium:         1em,
    large:          1.2em,
    extra-large:    1.5em
);
