@charset "UTF-8";
/**
 * Project
 *
 * Project specific variables and
 * settings.
 */
/**
 * @function: Color
 *
 * Returns the colour value
 * for the keyword specified from
 * the $colours variable.
 */
/**
 * @function Auto Color
 *
 * Set color based on background colour
 */
/**
 * @mixin: Clearfix
 */
/**
 * @function Font Size
 *
 * Get font size by keyword
 * or by passing in a CSS value.
 */
/**
 * @mixin: Media Query (MQ)
 *
 * Mixin for declaring media
 * queries.
 */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%; }

body {
  color: #323232;
  margin: 0;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Arial", sans-serif;
  font-size: 1.4em;
  font-weight: 400;
  min-height: 100vh;
  overflow-x: hidden; }

iframe {
  border: 0;
  max-width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote,
figure,
button {
  margin: 0;
  padding: 0; }

main,
li {
  display: block; }

h1,
h2,
h3,
h4,
h5,
h6
p {
  font-size: inherit; }

strong {
  font-weight: bold; }

sup {
  position: relative;
  top: -.5em;
  font-size: 65%;
  line-height: 0;
  vertical-align: baseline; }

a,
button {
  color: inherit;
  transition: 0.4s; }

a {
  color: #465983;
  text-decoration: none; }
  a:hover {
    color: #344262; }

button {
  overflow: visible;
  border: 0;
  font: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  -webkit-font-smoothing: inherit; }
  button:focus {
    outline: 0; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

/**
 * States
 *
 * Utility classes that describe
 * the current state of an element.
 *
 * Available states which vary by
 * componenent are:
 *
 * .is-open
 * .is-closed
 * .is-loading
 */
/* Is Hidden */
.is-hidden,
[hidden] {
  display: none !important; }

/* Is Displayed */
.is-displayed {
  display: block !important;
  /* Display inline-block */
  /* Display inline */ }
  .is-displayed.inline-block {
    display: inline-block !important; }
  .is-displayed.inline {
    display: inline !important; }

/**
 * Align
 *
 * Utility classes for text alignment
 */
.text-align-left {
  text-align: left; }

.text-align-right {
  text-align: right; }

.text-align-center,
.text-align-centre {
  text-align: center; }

.text-align-justify {
  text-align: justify; }

/**
 * Border Radius
 *
 * Utility classes for applying
 * border radius to elements.
 *
 * @TODO:
 * - Create utlility classes for individual sides.
 */
/* All Around Radius */
.border-radius-extra-small {
  border-radius: 0.1rem !important; }

.border-radius-small {
  border-radius: 0.2rem !important; }

.border-radius-medium {
  border-radius: 0.3rem !important; }

.border-radius-large {
  border-radius: 0.5rem !important; }

.border-radius-extra-large {
  border-radius: 0.6rem !important; }

/**
 * Color
 *
 * Utility classes for settings color: attribute.
 */
.color-primary {
  color: #465983; }

.color-accent {
  color: #3dd483; }

.color-neutral {
  color: #1b75df; }

.color-negative {
  color: #d4502c; }

.color-positive {
  color: #14b44f; }

.color-warning {
  color: #e2cc3b; }

.color-black {
  color: #323232; }

.color-dark-grey {
  color: #434343; }

.color-grey {
  color: #666; }

.color-light-grey {
  color: #b0b0b0; }

.color-faded-grey {
  color: #eee; }

.color-white {
  color: #fff; }

/**
 * Float
 *
 * Utility classes for floating elements
 * left or right.
 */
/* Float Left */
.float-left {
  float: left; }

/* Float Right */
.float-right {
  float: right; }

/**
 * Margin
 *
 * Utility classes for adding
 * margins to elements
 */
/**
 * @mixin: Margin
 *
 * $direction: top, right, bottom, left
 * Defaults to false, giving margin all around.
 *
 * $size: CSS value (px, em, rem, %) etc.
 */
/* All Round Margin */
.margin-small {
  margin: 0.3rem !important; }

.margin-medium {
  margin: 0.6rem !important; }

.margin-large {
  margin: 0.9rem !important; }

.margin-1 {
  margin: 1rem !important; }

.margin-2 {
  margin: 2rem !important; }

.margin-3 {
  margin: 3rem !important; }

.margin-4 {
  margin: 4rem !important; }

.margin-5 {
  margin: 5rem !important; }

.margin-6 {
  margin: 6rem !important; }

.margin-7 {
  margin: 7rem !important; }

.margin-8 {
  margin: 8rem !important; }

.margin-9 {
  margin: 9rem !important; }

.margin-10 {
  margin: 10rem !important; }

/* Top Margin */
.margin-top-small {
  margin-top: 0.3rem !important; }

.margin-top-medium {
  margin-top: 0.6rem !important; }

.margin-top-large {
  margin-top: 0.9rem !important; }

.margin-top-1 {
  margin-top: 1rem !important; }

.margin-top-2 {
  margin-top: 2rem !important; }

.margin-top-3 {
  margin-top: 3rem !important; }

.margin-top-4 {
  margin-top: 4rem !important; }

.margin-top-5 {
  margin-top: 5rem !important; }

.margin-top-6 {
  margin-top: 6rem !important; }

.margin-top-7 {
  margin-top: 7rem !important; }

.margin-top-8 {
  margin-top: 8rem !important; }

.margin-top-9 {
  margin-top: 9rem !important; }

.margin-top-10 {
  margin-top: 10rem !important; }

/* Right Margin */
.margin-right-small {
  margin-right: 0.3rem !important; }

.margin-right-medium {
  margin-right: 0.6rem !important; }

.margin-right-large {
  margin-right: 0.9rem !important; }

.margin-right-1 {
  margin-right: 1rem !important; }

.margin-right-2 {
  margin-right: 2rem !important; }

.margin-right-3 {
  margin-right: 3rem !important; }

.margin-right-4 {
  margin-right: 4rem !important; }

.margin-right-5 {
  margin-right: 5rem !important; }

.margin-right-6 {
  margin-right: 6rem !important; }

.margin-right-7 {
  margin-right: 7rem !important; }

.margin-right-8 {
  margin-right: 8rem !important; }

.margin-right-9 {
  margin-right: 9rem !important; }

.margin-right-10 {
  margin-right: 10rem !important; }

/* Bottom Margin */
.margin-bottom-small {
  margin-bottom: 0.3rem !important; }

.margin-bottom-medium {
  margin-bottom: 0.6rem !important; }

.margin-bottom-large {
  margin-bottom: 0.9rem !important; }

.margin-bottom-1 {
  margin-bottom: 1rem !important; }

.margin-bottom-2 {
  margin-bottom: 2rem !important; }

.margin-bottom-3 {
  margin-bottom: 3rem !important; }

.margin-bottom-4 {
  margin-bottom: 4rem !important; }

.margin-bottom-5 {
  margin-bottom: 5rem !important; }

.margin-bottom-6 {
  margin-bottom: 6rem !important; }

.margin-bottom-7 {
  margin-bottom: 7rem !important; }

.margin-bottom-8 {
  margin-bottom: 8rem !important; }

.margin-bottom-9 {
  margin-bottom: 9rem !important; }

.margin-bottom-10 {
  margin-bottom: 10rem !important; }

/* Left Margin */
.margin-left-small {
  margin-left: 0.3rem !important; }

.margin-left-medium {
  margin-left: 0.6rem !important; }

.margin-left-large {
  margin-left: 0.9rem !important; }

.margin-left-1 {
  margin-left: 1rem !important; }

.margin-left-2 {
  margin-left: 2rem !important; }

.margin-left-3 {
  margin-left: 3rem !important; }

.margin-left-4 {
  margin-left: 4rem !important; }

.margin-left-5 {
  margin-left: 5rem !important; }

.margin-left-6 {
  margin-left: 6rem !important; }

.margin-left-7 {
  margin-left: 7rem !important; }

.margin-left-8 {
  margin-left: 8rem !important; }

.margin-left-9 {
  margin-left: 9rem !important; }

.margin-left-10 {
  margin-left: 10rem !important; }

/**
 * Padding
 *
 * Utility classes for adding
 * paddings to elements
 */
/**
 * @mixin: Padding
 *
 * $direction: top, right, bottom, left
 * Defaults to false, giving padding all around.
 *
 * $size: CSS value (px, em, rem, %) etc.
 */
/* All Round Padding */
.padding-small {
  padding: 0.3rem !important; }

.padding-medium {
  padding: 0.6rem !important; }

.padding-large {
  padding: 0.9rem !important; }

.padding-1 {
  padding: 1rem !important; }

.padding-2 {
  padding: 2rem !important; }

.padding-3 {
  padding: 3rem !important; }

.padding-4 {
  padding: 4rem !important; }

.padding-5 {
  padding: 5rem !important; }

.padding-6 {
  padding: 6rem !important; }

.padding-7 {
  padding: 7rem !important; }

.padding-8 {
  padding: 8rem !important; }

.padding-9 {
  padding: 9rem !important; }

.padding-10 {
  padding: 10rem !important; }

/* Top Padding */
.padding-top-small {
  padding-top: 0.3rem !important; }

.padding-top-medium {
  padding-top: 0.6rem !important; }

.padding-top-large {
  padding-top: 0.9rem !important; }

.padding-top-1 {
  padding-top: 1rem !important; }

.padding-top-2 {
  padding-top: 2rem !important; }

.padding-top-3 {
  padding-top: 3rem !important; }

.padding-top-4 {
  padding-top: 4rem !important; }

.padding-top-5 {
  padding-top: 5rem !important; }

.padding-top-6 {
  padding-top: 6rem !important; }

.padding-top-7 {
  padding-top: 7rem !important; }

.padding-top-8 {
  padding-top: 8rem !important; }

.padding-top-9 {
  padding-top: 9rem !important; }

.padding-top-10 {
  padding-top: 10rem !important; }

/* Right Padding */
.padding-right-small {
  padding-right: 0.3rem !important; }

.padding-right-medium {
  padding-right: 0.6rem !important; }

.padding-right-large {
  padding-right: 0.9rem !important; }

.padding-right-1 {
  padding-right: 1rem !important; }

.padding-right-2 {
  padding-right: 2rem !important; }

.padding-right-3 {
  padding-right: 3rem !important; }

.padding-right-4 {
  padding-right: 4rem !important; }

.padding-right-5 {
  padding-right: 5rem !important; }

.padding-right-6 {
  padding-right: 6rem !important; }

.padding-right-7 {
  padding-right: 7rem !important; }

.padding-right-8 {
  padding-right: 8rem !important; }

.padding-right-9 {
  padding-right: 9rem !important; }

.padding-right-10 {
  padding-right: 10rem !important; }

/* Bottom Padding */
.padding-bottom-small {
  padding-bottom: 0.3rem !important; }

.padding-bottom-medium {
  padding-bottom: 0.6rem !important; }

.padding-bottom-large {
  padding-bottom: 0.9rem !important; }

.padding-bottom-1 {
  padding-bottom: 1rem !important; }

.padding-bottom-2 {
  padding-bottom: 2rem !important; }

.padding-bottom-3 {
  padding-bottom: 3rem !important; }

.padding-bottom-4 {
  padding-bottom: 4rem !important; }

.padding-bottom-5 {
  padding-bottom: 5rem !important; }

.padding-bottom-6 {
  padding-bottom: 6rem !important; }

.padding-bottom-7 {
  padding-bottom: 7rem !important; }

.padding-bottom-8 {
  padding-bottom: 8rem !important; }

.padding-bottom-9 {
  padding-bottom: 9rem !important; }

.padding-bottom-10 {
  padding-bottom: 10rem !important; }

/* Left Padding */
.padding-left-small {
  padding-left: 0.3rem !important; }

.padding-left-medium {
  padding-left: 0.6rem !important; }

.padding-left-large {
  padding-left: 0.9rem !important; }

.padding-left-1 {
  padding-left: 1rem !important; }

.padding-left-2 {
  padding-left: 2rem !important; }

.padding-left-3 {
  padding-left: 3rem !important; }

.padding-left-4 {
  padding-left: 4rem !important; }

.padding-left-5 {
  padding-left: 5rem !important; }

.padding-left-6 {
  padding-left: 6rem !important; }

.padding-left-7 {
  padding-left: 7rem !important; }

.padding-left-8 {
  padding-left: 8rem !important; }

.padding-left-9 {
  padding-left: 9rem !important; }

.padding-left-10 {
  padding-left: 10rem !important; }

/**
 * Weights
 *
 * Utility classes for applying weights
 * to text.
 */
.text-heavy {
  font-weight: 900; }

.text-bold {
  font-weight: 700; }

.strong {
  font-weight: 600; }

.text-normal {
  font-weight: 400; }

.text-light {
  font-weight: 300; }

.text-thin {
  font-weight: 100; }

/**
 * Position
 *
 * Utility for positioning elements
 * with absolute, fixed or sticky
 * positioning.
 */
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather", -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Arial", sans-serif;;
  font-weight: 700;
  line-height: 1; }
  h1.sub-title,
  h2.sub-title,
  h3.sub-title,
  h4.sub-title,
  h5.sub-title,
  h6.sub-title {
    color: grey; }

h1,
.h1 {
  font-size: 2.8rem; }

h2,
.h2 {
  font-size: 2.2rem; }

h3,
.h3 {
  font-size: 1.8rem; }

h4,
.h4 {
  font-size: 1.5rem; }

h5,
.h5 {
  font-size: 1.4rem; }

h6,
.h6 {
  font-size: 1.3rem; }

/* Paragraphs */
p,
ul {
  line-height: 1.55;
  margin-bottom: 0.9rem;
  margin-top: 0.9rem; }
  p:first-child,
  ul:first-child {
    margin-top: 0; }
  p:last-child,
  ul:last-child {
    margin-bottom: 0; }
  p.extra-large,
  ul.extra-large {
    font-size: 1.4em; }
  p.large, p.lead,
  ul.large,
  ul.lead {
    font-size: 1.2em; }
  p.medium,
  ul.medium {
    font-size: 1.1em; }
  p.small,
  ul.small {
    font-size: .85em; }
  p.extra-small,
  ul.extra-small {
    font-size: .75em; }

/**
 * Alert
 *
 * Styled element for displaying
 * prominent messages.
 */
/**
 * @mixin Alert
 */
/**
 * @mixin Alert Style
 *
 * Apply styles to alert elements
 */
/**
 * @mixin Alert Size
 */
.alert {
  background-color: #eee;
  border-radius: 0.3rem !important;
  color: black;
  padding: 1.4rem;
  position: relative; }
  .alert .close {
    color: rgba(0, 0, 0, 0.4);
    font-size: 1.5em;
    padding: 0.4em 0.8em;
    position: absolute;
    top: 0;
    right: 0; }
    .alert .close:after {
      content: "\00d7"; }
    .alert .close:hover {
      color: rgba(0, 0, 0, 0.8); }
  .alert.basic {
    background-color: transparent;
    border: 1px solid #eee;
    color: #434343; }
  .alert.pronounced {
    background-color: transparent;
    border: 2px solid #eee;
    color: #434343;
    font-weight: 600; }
  .alert.primary {
    background-color: #465983;
    color: white; }
    .alert.primary.basic {
      background-color: transparent;
      border: 1px solid #465983;
      color: #434343; }
    .alert.primary.pronounced {
      background-color: transparent;
      border: 2px solid #465983;
      color: #465983; }
  .alert.accent {
    background-color: #3dd483;
    color: white; }
    .alert.accent.basic {
      background-color: transparent;
      border: 1px solid #3dd483;
      color: #434343; }
    .alert.accent.pronounced {
      background-color: transparent;
      border: 2px solid #3dd483;
      color: #3dd483; }
  .alert.neutral {
    background-color: #1b75df;
    color: white; }
    .alert.neutral.basic {
      background-color: transparent;
      border: 1px solid #1b75df;
      color: #434343; }
    .alert.neutral.pronounced {
      background-color: transparent;
      border: 2px solid #1b75df;
      color: #1b75df; }
  .alert.negative {
    background-color: #d4502c;
    color: white; }
    .alert.negative.basic {
      background-color: transparent;
      border: 1px solid #d4502c;
      color: #434343; }
    .alert.negative.pronounced {
      background-color: transparent;
      border: 2px solid #d4502c;
      color: #d4502c; }
  .alert.positive {
    background-color: #14b44f;
    color: white; }
    .alert.positive.basic {
      background-color: transparent;
      border: 1px solid #14b44f;
      color: #434343; }
    .alert.positive.pronounced {
      background-color: transparent;
      border: 2px solid #14b44f;
      color: #14b44f; }
  .alert.warning {
    background-color: #e2cc3b;
    color: white; }
    .alert.warning.basic {
      background-color: transparent;
      border: 1px solid #e2cc3b;
      color: #434343; }
    .alert.warning.pronounced {
      background-color: transparent;
      border: 2px solid #e2cc3b;
      color: #e2cc3b; }
  .alert.black {
    background-color: #323232;
    color: white; }
    .alert.black.basic {
      background-color: transparent;
      border: 1px solid #323232;
      color: #434343; }
    .alert.black.pronounced {
      background-color: transparent;
      border: 2px solid #323232;
      color: #323232; }
  .alert.dark-grey {
    background-color: #434343;
    color: white; }
    .alert.dark-grey.basic {
      background-color: transparent;
      border: 1px solid #434343;
      color: #434343; }
    .alert.dark-grey.pronounced {
      background-color: transparent;
      border: 2px solid #434343;
      color: #434343; }
  .alert.grey {
    background-color: #666;
    color: white; }
    .alert.grey.basic {
      background-color: transparent;
      border: 1px solid #666;
      color: #434343; }
    .alert.grey.pronounced {
      background-color: transparent;
      border: 2px solid #666;
      color: #666; }
  .alert.light-grey {
    background-color: #b0b0b0;
    color: black; }
    .alert.light-grey.basic {
      background-color: transparent;
      border: 1px solid #b0b0b0;
      color: #434343; }
    .alert.light-grey.pronounced {
      background-color: transparent;
      border: 2px solid #b0b0b0;
      color: #b0b0b0; }
  .alert.faded-grey {
    background-color: #eee;
    color: black; }
    .alert.faded-grey.basic {
      background-color: transparent;
      border: 1px solid #eee;
      color: #434343; }
    .alert.faded-grey.pronounced {
      background-color: transparent;
      border: 2px solid #eee;
      color: #eee; }
  .alert.white {
    background-color: #fff;
    color: black; }
    .alert.white.basic {
      background-color: transparent;
      border: 1px solid #fff;
      color: #434343; }
    .alert.white.pronounced {
      background-color: transparent;
      border: 2px solid #fff;
      color: #fff; }
  .alert.extra-small {
    font-size: 1.2rem;
    padding: 0.6rem; }
  .alert.small {
    font-size: 1.3rem;
    padding: 1rem; }
  .alert.medium {
    padding: 1.4rem; }
  .alert.large {
    font-size: 1.8rem;
    padding: 1.6rem; }
  .alert.extra-large {
    font-size: 2.1rem;
    padding: 2rem; }

/**
 * Buttons
 *
 * Styled buttons.
 */
/**
 * @mixin: Button
 *
 * Provides the base styles for
 * a button element and sensible
 * default colours.
 */
/**
 * @mixin: Button Style
 *
 * Customise the button style using
 * a style type keyword with primary
 * and accent colours.
 *
 * Keywords:
 * 'default': Solid background and accent colour text.
 * 'basic': Accent colour border with no background colour and accent colour text.
 * 'pronounced': Thick (2px) primary colour border with primary colour text.
 */
/**
 * @mixin: Button Size
 *
 * Set the size of a button element using
 * keywords.
 */
/**
 * @mixin Button Group
 *
 * Mixin for creating connected
 * groups of buttons.
 */
/* Button */
.button {
  background-color: #fff;
  border-radius: 0.3rem !important;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-width: 2px;
  color: #555;
  display: inline-block;
  font-size: 1.4rem;
  line-height: 1;
  overflow: hidden;
  padding: 0.9rem 1.2rem; }
  .button .material-icons {
    font-size: 1em;
    vertical-align: middle; }
  .button.primary {
    background-color: #465983;
    color: white; }
    .button.primary:hover {
      background-color: #344262; }
    .button.primary.basic {
      background-color: transparent;
      border: 1px solid #465983;
      color: #465983; }
      .button.primary.basic:hover {
        background-color: #465983;
        color: white; }
    .button.primary.pronounced {
      background-color: transparent;
      border: 2px solid #465983;
      color: #465983;
      font-weight: 600; }
      .button.primary.pronounced:hover {
        background-color: #465983;
        color: white; }
  .button.accent {
    background-color: #3dd483;
    color: white; }
    .button.accent:hover {
      background-color: #28b66a; }
    .button.accent.basic {
      background-color: transparent;
      border: 1px solid #3dd483;
      color: #3dd483; }
      .button.accent.basic:hover {
        background-color: #3dd483;
        color: white; }
    .button.accent.pronounced {
      background-color: transparent;
      border: 2px solid #3dd483;
      color: #3dd483;
      font-weight: 600; }
      .button.accent.pronounced:hover {
        background-color: #3dd483;
        color: white; }
  .button.neutral {
    background-color: #1b75df;
    color: white; }
    .button.neutral:hover {
      background-color: #155db2; }
    .button.neutral.basic {
      background-color: transparent;
      border: 1px solid #1b75df;
      color: #1b75df; }
      .button.neutral.basic:hover {
        background-color: #1b75df;
        color: white; }
    .button.neutral.pronounced {
      background-color: transparent;
      border: 2px solid #1b75df;
      color: #1b75df;
      font-weight: 600; }
      .button.neutral.pronounced:hover {
        background-color: #1b75df;
        color: white; }
  .button.negative {
    background-color: #d4502c;
    color: white; }
    .button.negative:hover {
      background-color: #aa4023; }
    .button.negative.basic {
      background-color: transparent;
      border: 1px solid #d4502c;
      color: #d4502c; }
      .button.negative.basic:hover {
        background-color: #d4502c;
        color: white; }
    .button.negative.pronounced {
      background-color: transparent;
      border: 2px solid #d4502c;
      color: #d4502c;
      font-weight: 600; }
      .button.negative.pronounced:hover {
        background-color: #d4502c;
        color: white; }
  .button.positive {
    background-color: #14b44f;
    color: white; }
    .button.positive:hover {
      background-color: #0f863b; }
    .button.positive.basic {
      background-color: transparent;
      border: 1px solid #14b44f;
      color: #14b44f; }
      .button.positive.basic:hover {
        background-color: #14b44f;
        color: white; }
    .button.positive.pronounced {
      background-color: transparent;
      border: 2px solid #14b44f;
      color: #14b44f;
      font-weight: 600; }
      .button.positive.pronounced:hover {
        background-color: #14b44f;
        color: white; }
  .button.warning {
    background-color: #e2cc3b;
    color: white; }
    .button.warning:hover {
      background-color: #ccb51e; }
    .button.warning.basic {
      background-color: transparent;
      border: 1px solid #e2cc3b;
      color: #e2cc3b; }
      .button.warning.basic:hover {
        background-color: #e2cc3b;
        color: white; }
    .button.warning.pronounced {
      background-color: transparent;
      border: 2px solid #e2cc3b;
      color: #e2cc3b;
      font-weight: 600; }
      .button.warning.pronounced:hover {
        background-color: #e2cc3b;
        color: white; }
  .button.black {
    background-color: #323232;
    color: white; }
    .button.black:hover {
      background-color: #191919; }
    .button.black.basic {
      background-color: transparent;
      border: 1px solid #323232;
      color: #323232; }
      .button.black.basic:hover {
        background-color: #323232;
        color: white; }
    .button.black.pronounced {
      background-color: transparent;
      border: 2px solid #323232;
      color: #323232;
      font-weight: 600; }
      .button.black.pronounced:hover {
        background-color: #323232;
        color: white; }
  .button.dark-grey {
    background-color: #434343;
    color: white; }
    .button.dark-grey:hover {
      background-color: #2a2a2a; }
    .button.dark-grey.basic {
      background-color: transparent;
      border: 1px solid #434343;
      color: #434343; }
      .button.dark-grey.basic:hover {
        background-color: #434343;
        color: white; }
    .button.dark-grey.pronounced {
      background-color: transparent;
      border: 2px solid #434343;
      color: #434343;
      font-weight: 600; }
      .button.dark-grey.pronounced:hover {
        background-color: #434343;
        color: white; }
  .button.grey {
    background-color: #666;
    color: white; }
    .button.grey:hover {
      background-color: #4d4d4d; }
    .button.grey.basic {
      background-color: transparent;
      border: 1px solid #666;
      color: #666; }
      .button.grey.basic:hover {
        background-color: #666;
        color: white; }
    .button.grey.pronounced {
      background-color: transparent;
      border: 2px solid #666;
      color: #666;
      font-weight: 600; }
      .button.grey.pronounced:hover {
        background-color: #666;
        color: white; }
  .button.light-grey {
    background-color: #b0b0b0;
    color: black; }
    .button.light-grey:hover {
      background-color: #979797; }
    .button.light-grey.basic {
      background-color: transparent;
      border: 1px solid #b0b0b0;
      color: #b0b0b0; }
      .button.light-grey.basic:hover {
        background-color: #b0b0b0;
        color: black; }
    .button.light-grey.pronounced {
      background-color: transparent;
      border: 2px solid #b0b0b0;
      color: #b0b0b0;
      font-weight: 600; }
      .button.light-grey.pronounced:hover {
        background-color: #b0b0b0;
        color: black; }
  .button.faded-grey {
    background-color: #eee;
    color: black; }
    .button.faded-grey:hover {
      background-color: #d5d5d5; }
    .button.faded-grey.basic {
      background-color: transparent;
      border: 1px solid #eee;
      color: #eee; }
      .button.faded-grey.basic:hover {
        background-color: #eee;
        color: black; }
    .button.faded-grey.pronounced {
      background-color: transparent;
      border: 2px solid #eee;
      color: #eee;
      font-weight: 600; }
      .button.faded-grey.pronounced:hover {
        background-color: #eee;
        color: black; }
  .button.white {
    background-color: #fff;
    color: black; }
    .button.white:hover {
      background-color: #e6e6e6; }
    .button.white.basic {
      background-color: transparent;
      border: 1px solid #fff;
      color: #fff; }
      .button.white.basic:hover {
        background-color: #fff;
        color: black; }
    .button.white.pronounced {
      background-color: transparent;
      border: 2px solid #fff;
      color: #fff;
      font-weight: 600; }
      .button.white.pronounced:hover {
        background-color: #fff;
        color: black; }
  .button.extra-small {
    font-size: 1.2rem;
    padding: 0.4rem 0.8rem; }
  .button.small {
    font-size: 1.3rem;
    padding: 0.5rem 0.9rem; }
  .button.medium {
    font-size: 1.4rem;
    padding: 0.9rem 1.2rem; }
  .button.large {
    font-size: 1.8rem;
    padding: 1.4rem 2.4rem; }
  .button.extra-large {
    font-size: 2.1rem;
    padding: 1.5rem 2.5rem; }
  .button.is-loading {
    opacity: .3; }

/* Button Group */
.button-group {
  font-size: 0; }
  .button-group .button {
    border-radius: 0 !important; }
    .button-group .button:first-child {
      border-bottom-left-radius: 0.3rem !important;
      border-top-left-radius: 0.3rem !important; }
    .button-group .button:last-child {
      border-bottom-right-radius: 0.3rem !important;
      border-top-right-radius: 0.3rem !important; }
    .button-group .button.basic:not(:last-child), .button-group .button.pronounced:not(:last-child) {
      border-right-width: 0; }

/**
 * Card
 *
 * Display content in a card
 * based style.
 */
/**
 * @mixin: Card
 */
/**
 * @mixin: Card Style
 *
 * Add style to card elements
 */
.card {
  background-color: white;
  border: 1px solid #eee;
  border-radius: 0.3rem !important;
  overflow: hidden;
  position: relative;
  margin-top: 2.4rem; }
  .card:first-child {
    margin-top: 0; }
  .card[disabled], .card.disabled {
    cursor: not-allowed;
    opacity: 0.5; }
  .card > .title {
    border-bottom: 1px solid #eee;
    font-size: 1.7rem;
    padding: 1.3rem 2.4rem; }
  .card > .image,
  .card > .media,
  .card > .map {
    margin-top: -0.1rem; }
    .card > .image > img,
    .card > .media > img,
    .card > .map > img {
      display: block;
      width: 100%; }
  .card > .map {
    height: 16rem; }
    @media (min-width: 420px) {
      .card > .map {
        height: 19rem; } }
    @media (min-width: 768px) {
      .card > .map {
        height: 26rem; } }
  .card > .content {
    padding: 2.4rem; }
    .card > .content + .content {
      border-top: 1px solid #eee; }
    .card > .content > .title {
      font-size: 1.7rem;
      margin-bottom: 0.8rem; }
      .card > .content > .title + .sub-title {
        margin-top: -0.8rem; }
    .card > .content > .sub-title {
      color: #b0b0b0;
      font-weight: 400;
      margin-bottom: 0.8rem; }
  .card > .header {
    background-color: #fbfbfb;
    border-bottom: 1px solid #eee;
    padding: 1.3rem 2.4rem; }
    .card > .header > .title {
      font-size: 1.7rem; }
    .card > .header > .sub-title {
      color: #b0b0b0;
      font-size: 1.4rem;
      font-weight: 400; }
  .card > .footer {
    background-color: #fbfbfb;
    border-top: 1px solid #eee;
    font-size: .9em;
    padding: 1.3rem 2.4rem; }
  .card .close {
    color: rgba(0, 0, 0, 0.4);
    font-size: 1.5em;
    padding: 0.4em 0.8em;
    position: absolute;
    top: 0;
    right: 0; }
    .card .close:after {
      content: "\00d7"; }
    .card .close:hover {
      color: rgba(0, 0, 0, 0.8); }
  .card.slightly-raised {
    box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.08); }
  .card.raised {
    box-shadow: 0.1em 0.1em 0.6em rgba(0, 0, 0, 0.12); }
  .card.floating {
    box-shadow: 0.3em 0.3em 1.2em rgba(0, 0, 0, 0.2); }
  .card.primary {
    background-color: #465983;
    border: none;
    color: white; }
    .card.primary > .title {
      border-bottom: none;
      padding-top: 2.4rem; }
      .card.primary > .title + .content {
        padding-top: 0; }
  .card.accent {
    background-color: #3dd483;
    border: none;
    color: white; }
    .card.accent > .title {
      border-bottom: none;
      padding-top: 2.4rem; }
      .card.accent > .title + .content {
        padding-top: 0; }
  .card.neutral {
    background-color: #1b75df;
    border: none;
    color: white; }
    .card.neutral > .title {
      border-bottom: none;
      padding-top: 2.4rem; }
      .card.neutral > .title + .content {
        padding-top: 0; }
  .card.negative {
    background-color: #d4502c;
    border: none;
    color: white; }
    .card.negative > .title {
      border-bottom: none;
      padding-top: 2.4rem; }
      .card.negative > .title + .content {
        padding-top: 0; }
  .card.positive {
    background-color: #14b44f;
    border: none;
    color: white; }
    .card.positive > .title {
      border-bottom: none;
      padding-top: 2.4rem; }
      .card.positive > .title + .content {
        padding-top: 0; }
  .card.warning {
    background-color: #e2cc3b;
    border: none;
    color: white; }
    .card.warning > .title {
      border-bottom: none;
      padding-top: 2.4rem; }
      .card.warning > .title + .content {
        padding-top: 0; }
  .card.black {
    background-color: #323232;
    border: none;
    color: white; }
    .card.black > .title {
      border-bottom: none;
      padding-top: 2.4rem; }
      .card.black > .title + .content {
        padding-top: 0; }
  .card.dark-grey {
    background-color: #434343;
    border: none;
    color: white; }
    .card.dark-grey > .title {
      border-bottom: none;
      padding-top: 2.4rem; }
      .card.dark-grey > .title + .content {
        padding-top: 0; }
  .card.grey {
    background-color: #666;
    border: none;
    color: white; }
    .card.grey > .title {
      border-bottom: none;
      padding-top: 2.4rem; }
      .card.grey > .title + .content {
        padding-top: 0; }
  .card.light-grey {
    background-color: #b0b0b0;
    border: none;
    color: black; }
    .card.light-grey > .title {
      border-bottom: none;
      padding-top: 2.4rem; }
      .card.light-grey > .title + .content {
        padding-top: 0; }
  .card.faded-grey {
    background-color: #eee;
    border: none;
    color: black; }
    .card.faded-grey > .title {
      border-bottom: none;
      padding-top: 2.4rem; }
      .card.faded-grey > .title + .content {
        padding-top: 0; }
  .card.white {
    background-color: #fff;
    border: none;
    color: black; }
    .card.white > .title {
      border-bottom: none;
      padding-top: 2.4rem; }
      .card.white > .title + .content {
        padding-top: 0; }

/**
 * Code
 *
 * Utility class for styling code
 * blocks.
 */
code,
pre {
  background-color: #f6f6f6;
  border-radius: 0.2rem !important;
  color: #1b75df;
  font-family: Source Code Pro,Menlo,Monaco,Consolas,Courier New,monospace;
  font-size: 1.3rem;
  display: inline-block;
  line-height: 1;
  padding: 0.45rem 0.8rem; }

pre {
  color: #434343;
  display: block;
  line-height: 1.6;
  padding: 1.4rem; }

/**
 * Container
 *
 * Centralised container, normally used
 * for centering the page or content.
 *
 * @TODO:
 * - Make container keyword values customisable.
 */
/**
 * @mixin: Container
 *
 * $width: CSS Value or Keyword (extra-small, small, medium, large, extra-large) (defaults to max-width of 96rem)
 * $align: left, center. (defaults to center)
 */
/* Default Container (Large) */
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 96rem; }
  .container.align-left {
    max-width: 96rem; }
  .container.extra-small {
    margin-left: auto;
    margin-right: auto;
    max-width: 42rem; }
    .container.extra-small.align-left {
      max-width: 42rem; }
  .container.small {
    margin-left: auto;
    margin-right: auto;
    max-width: 60rem; }
    .container.small.align-left {
      max-width: 60rem; }
  .container.medium {
    margin-left: auto;
    margin-right: auto;
    max-width: 72rem; }
    .container.medium.align-left {
      max-width: 72rem; }
  .container.large {
    margin-left: auto;
    margin-right: auto;
    max-width: 96rem; }
    .container.large.align-left {
      max-width: 96rem; }
  .container.extra-large {
    margin-left: auto;
    margin-right: auto;
    max-width: 112rem; }
    .container.extra-large.align-left {
      max-width: 112rem; }

form .field {
  padding: 1rem 0; }
form .description {
  color: grey;
  font-size: .9em; }

fieldset {
  border: 1px solid #eee;
  border-radius: 0.3rem !important;
  margin: 1.5rem 0;
  padding: 1.4rem; }
  fieldset:first-of-type {
    margin-top: 0; }
  fieldset:last-of-type {
    margin-bottom: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.2em; }
  label.required::after {
    content: "*"; }
  label.is-hidden {
    display: none; }
  label abbr {
    display: none; }

input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="tel"],
input[type="search"],
select,
textarea {
  background-color: white;
  border: 1px solid #eee;
  border-radius: 0.3rem !important;
  box-sizing: border-box;
  font-size: 1.4rem;
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Arial", sans-serif;
  padding: 0.85rem;
  width: 100%; }
  input[type="text"].is-invalid,
  input[type="date"].is-invalid,
  input[type="datetime"].is-invalid,
  input[type="datetime-local"].is-invalid,
  input[type="email"].is-invalid,
  input[type="tel"].is-invalid,
  input[type="search"].is-invalid,
  select.is-invalid,
  textarea.is-invalid {
    border-color: #d4502c; }
  input[type="text"]:hover,
  input[type="date"]:hover,
  input[type="datetime"]:hover,
  input[type="datetime-local"]:hover,
  input[type="email"]:hover,
  input[type="tel"]:hover,
  input[type="search"]:hover,
  select:hover,
  textarea:hover {
    border: 1px solid #b0b0b0; }
  input[type="text"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="email"]:focus,
  input[type="tel"]:focus,
  input[type="search"]:focus,
  select:focus,
  textarea:focus {
    appearance: none;
    border-color: #1b75df;
    box-shadow: none;
    outline: none; }

input[type="checkbox"] {
  appearance: none;
  background-color: white;
  border: 1px solid #eee;
  cursor: pointer;
  display: inline-block;
  border-radius: 0.3rem !important;
  padding: 0.65rem; }
  input[type="checkbox"]:focus {
    appearance: none;
    border-color: #1b75df;
    box-shadow: none;
    outline: none; }
  input[type="checkbox"]:checked {
    background-color: #465983;
    border-color: #1b75df; }

input[type="search"] {
  appearance: none; }

select {
  appearance: none;
  background: url("../images/select.png") right no-repeat white;
  padding: 0.85rem 1.85rem 0.85rem 0.85rem; }

textarea {
  height: 15rem;
  resize: vertical; }

/**
 * Media
 *
 * Responsive utlility for embedding
 * media.
 */
.media {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }
  .media iframe,
  .media object,
  .media embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .media.ratio-4x3 {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;
    max-width: 100%; }
    .media.ratio-4x3 iframe,
    .media.ratio-4x3 object,
    .media.ratio-4x3 embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

/**
 * Modal
 *
 * Styled popup elements
 *
 * @NOTE: Max width is set using
 * the sizes defined in the $containers
 * map.
 */
.modal {
  background-color: white;
  border-radius: 0.3rem !important;
  display: none;
  max-width: 72rem; }
  @media (min-width: 420px) {
    .modal {
      min-width: 42rem; } }
  .modal.extra-small {
    max-width: 42rem; }
  .modal.small {
    max-width: 60rem; }
  .modal.medium {
    max-width: 72rem; }
  .modal.large {
    max-width: 96rem; }
  .modal.extra-large {
    max-width: 112rem; }
  .modal.extra-small.fixed {
    width: 42rem; }
  .modal.extra-small.force-fixed {
    width: 42rem !important; }
  .modal.small.fixed {
    width: 60rem; }
  .modal.small.force-fixed {
    width: 60rem !important; }
  .modal.medium.fixed {
    width: 72rem; }
  .modal.medium.force-fixed {
    width: 72rem !important; }
  .modal.large.fixed {
    width: 96rem; }
  .modal.large.force-fixed {
    width: 96rem !important; }
  .modal.extra-large.fixed {
    width: 112rem; }
  .modal.extra-large.force-fixed {
    width: 112rem !important; }

/*!
  Ionicons, v2.0.0
  Created by Ben Sperry for the Ionic Framework, http://ionicons.com/
  https://twitter.com/benjsperry  https://twitter.com/ionicframework
  MIT License: https://github.com/driftyco/ionicons

  Android-style icons originally built by Google's
  Material Design Icons: https://github.com/google/material-design-icons
  used under CC BY http://creativecommons.org/licenses/by/4.0/
  Modified icons to fit ionicon's grid from original.
*/
@font-face {
  font-family: "Ionicons";
  src: url("../fonts/ionicons.eot?v=2.0.0");
  src: url("../fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), url("../fonts/ionicons.ttf?v=2.0.0") format("truetype"), url("../fonts/ionicons.woff?v=2.0.0") format("woff"), url("../fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal; }
[class*="icon-"] {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: .9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  [class*="icon-"].fixed-width {
    text-align: center;
    width: 1.5rem; }
  [class*="icon-"].extra-small {
    font-size: 0.7em; }
  [class*="icon-"].small {
    font-size: 0.9em; }
  [class*="icon-"].medium {
    font-size: 1em; }
  [class*="icon-"].large {
    font-size: 1.2em; }
  [class*="icon-"].extra-large {
    font-size: 1.5em; }

.icon-alert:before {
  content: ""; }

.icon-alert-circled:before {
  content: ""; }

.icon-android-add:before {
  content: ""; }

.icon-android-add-circle:before {
  content: ""; }

.icon-android-alarm-clock:before {
  content: ""; }

.icon-android-alert:before {
  content: ""; }

.icon-android-apps:before {
  content: ""; }

.icon-android-archive:before {
  content: ""; }

.icon-android-arrow-back:before {
  content: ""; }

.icon-android-arrow-down:before {
  content: ""; }

.icon-android-arrow-dropdown:before {
  content: ""; }

.icon-android-arrow-dropdown-circle:before {
  content: ""; }

.icon-android-arrow-dropleft:before {
  content: ""; }

.icon-android-arrow-dropleft-circle:before {
  content: ""; }

.icon-android-arrow-dropright:before {
  content: ""; }

.icon-android-arrow-dropright-circle:before {
  content: ""; }

.icon-android-arrow-dropup:before {
  content: ""; }

.icon-android-arrow-dropup-circle:before {
  content: ""; }

.icon-android-arrow-forward:before {
  content: ""; }

.icon-android-arrow-up:before {
  content: ""; }

.icon-android-attach:before {
  content: ""; }

.icon-android-bar:before {
  content: ""; }

.icon-android-bicycle:before {
  content: ""; }

.icon-android-boat:before {
  content: ""; }

.icon-android-bookmark:before {
  content: ""; }

.icon-android-bulb:before {
  content: ""; }

.icon-android-bus:before {
  content: ""; }

.icon-android-calendar:before {
  content: ""; }

.icon-android-call:before {
  content: ""; }

.icon-android-camera:before {
  content: ""; }

.icon-android-cancel:before {
  content: ""; }

.icon-android-car:before {
  content: ""; }

.icon-android-cart:before {
  content: ""; }

.icon-android-chat:before {
  content: ""; }

.icon-android-checkbox:before {
  content: ""; }

.icon-android-checkbox-blank:before {
  content: ""; }

.icon-android-checkbox-outline:before {
  content: ""; }

.icon-android-checkbox-outline-blank:before {
  content: ""; }

.icon-android-checkmark-circle:before {
  content: ""; }

.icon-android-clipboard:before {
  content: ""; }

.icon-android-close:before {
  content: ""; }

.icon-android-cloud:before {
  content: ""; }

.icon-android-cloud-circle:before {
  content: ""; }

.icon-android-cloud-done:before {
  content: ""; }

.icon-android-cloud-outline:before {
  content: ""; }

.icon-android-color-palette:before {
  content: ""; }

.icon-android-compass:before {
  content: ""; }

.icon-android-contact:before {
  content: ""; }

.icon-android-contacts:before {
  content: ""; }

.icon-android-contract:before {
  content: ""; }

.icon-android-create:before {
  content: ""; }

.icon-android-delete:before {
  content: ""; }

.icon-android-desktop:before {
  content: ""; }

.icon-android-document:before {
  content: ""; }

.icon-android-done:before {
  content: ""; }

.icon-android-done-all:before {
  content: ""; }

.icon-android-download:before {
  content: ""; }

.icon-android-drafts:before {
  content: ""; }

.icon-android-exit:before {
  content: ""; }

.icon-android-expand:before {
  content: ""; }

.icon-android-favorite:before {
  content: ""; }

.icon-android-favorite-outline:before {
  content: ""; }

.icon-android-film:before {
  content: ""; }

.icon-android-folder:before {
  content: ""; }

.icon-android-folder-open:before {
  content: ""; }

.icon-android-funnel:before {
  content: ""; }

.icon-android-globe:before {
  content: ""; }

.icon-android-hand:before {
  content: ""; }

.icon-android-hangout:before {
  content: ""; }

.icon-android-happy:before {
  content: ""; }

.icon-android-home:before {
  content: ""; }

.icon-android-image:before {
  content: ""; }

.icon-android-laptop:before {
  content: ""; }

.icon-android-list:before {
  content: ""; }

.icon-android-locate:before {
  content: ""; }

.icon-android-lock:before {
  content: ""; }

.icon-android-mail:before {
  content: ""; }

.icon-android-map:before {
  content: ""; }

.icon-android-menu:before {
  content: ""; }

.icon-android-microphone:before {
  content: ""; }

.icon-android-microphone-off:before {
  content: ""; }

.icon-android-more-horizontal:before {
  content: ""; }

.icon-android-more-vertical:before {
  content: ""; }

.icon-android-navigate:before {
  content: ""; }

.icon-android-notifications:before {
  content: ""; }

.icon-android-notifications-none:before {
  content: ""; }

.icon-android-notifications-off:before {
  content: ""; }

.icon-android-open:before {
  content: ""; }

.icon-android-options:before {
  content: ""; }

.icon-android-people:before {
  content: ""; }

.icon-android-person:before {
  content: ""; }

.icon-android-person-add:before {
  content: ""; }

.icon-android-phone-landscape:before {
  content: ""; }

.icon-android-phone-portrait:before {
  content: ""; }

.icon-android-pin:before {
  content: ""; }

.icon-android-plane:before {
  content: ""; }

.icon-android-playstore:before {
  content: ""; }

.icon-android-print:before {
  content: ""; }

.icon-android-radio-button-off:before {
  content: ""; }

.icon-android-radio-button-on:before {
  content: ""; }

.icon-android-refresh:before {
  content: ""; }

.icon-android-remove:before {
  content: ""; }

.icon-android-remove-circle:before {
  content: ""; }

.icon-android-restaurant:before {
  content: ""; }

.icon-android-sad:before {
  content: ""; }

.icon-android-search:before {
  content: ""; }

.icon-android-send:before {
  content: ""; }

.icon-android-settings:before {
  content: ""; }

.icon-android-share:before {
  content: ""; }

.icon-android-share-alt:before {
  content: ""; }

.icon-android-star:before {
  content: ""; }

.icon-android-star-half:before {
  content: ""; }

.icon-android-star-outline:before {
  content: ""; }

.icon-android-stopwatch:before {
  content: ""; }

.icon-android-subway:before {
  content: ""; }

.icon-android-sunny:before {
  content: ""; }

.icon-android-sync:before {
  content: ""; }

.icon-android-textsms:before {
  content: ""; }

.icon-android-time:before {
  content: ""; }

.icon-android-train:before {
  content: ""; }

.icon-android-unlock:before {
  content: ""; }

.icon-android-upload:before {
  content: ""; }

.icon-android-volume-down:before {
  content: ""; }

.icon-android-volume-mute:before {
  content: ""; }

.icon-android-volume-off:before {
  content: ""; }

.icon-android-volume-up:before {
  content: ""; }

.icon-android-walk:before {
  content: ""; }

.icon-android-warning:before {
  content: ""; }

.icon-android-watch:before {
  content: ""; }

.icon-android-wifi:before {
  content: ""; }

.icon-aperture:before {
  content: ""; }

.icon-archive:before {
  content: ""; }

.icon-arrow-down-a:before {
  content: ""; }

.icon-arrow-down-b:before {
  content: ""; }

.icon-arrow-down-c:before {
  content: ""; }

.icon-arrow-expand:before {
  content: ""; }

.icon-arrow-graph-down-left:before {
  content: ""; }

.icon-arrow-graph-down-right:before {
  content: ""; }

.icon-arrow-graph-up-left:before {
  content: ""; }

.icon-arrow-graph-up-right:before {
  content: ""; }

.icon-arrow-left-a:before {
  content: ""; }

.icon-arrow-left-b:before {
  content: ""; }

.icon-arrow-left-c:before {
  content: ""; }

.icon-arrow-move:before {
  content: ""; }

.icon-arrow-resize:before {
  content: ""; }

.icon-arrow-return-left:before {
  content: ""; }

.icon-arrow-return-right:before {
  content: ""; }

.icon-arrow-right-a:before {
  content: ""; }

.icon-arrow-right-b:before {
  content: ""; }

.icon-arrow-right-c:before {
  content: ""; }

.icon-arrow-shrink:before {
  content: ""; }

.icon-arrow-swap:before {
  content: ""; }

.icon-arrow-up-a:before {
  content: ""; }

.icon-arrow-up-b:before {
  content: ""; }

.icon-arrow-up-c:before {
  content: ""; }

.icon-asterisk:before {
  content: ""; }

.icon-at:before {
  content: ""; }

.icon-backspace:before {
  content: ""; }

.icon-backspace-outline:before {
  content: ""; }

.icon-bag:before {
  content: ""; }

.icon-battery-charging:before {
  content: ""; }

.icon-battery-empty:before {
  content: ""; }

.icon-battery-full:before {
  content: ""; }

.icon-battery-half:before {
  content: ""; }

.icon-battery-low:before {
  content: ""; }

.icon-beaker:before {
  content: ""; }

.icon-beer:before {
  content: ""; }

.icon-bluetooth:before {
  content: ""; }

.icon-bonfire:before {
  content: ""; }

.icon-bookmark:before {
  content: ""; }

.icon-bowtie:before {
  content: ""; }

.icon-briefcase:before {
  content: ""; }

.icon-bug:before {
  content: ""; }

.icon-calculator:before {
  content: ""; }

.icon-calendar:before {
  content: ""; }

.icon-camera:before {
  content: ""; }

.icon-card:before {
  content: ""; }

.icon-cash:before {
  content: ""; }

.icon-chatbox:before {
  content: ""; }

.icon-chatbox-working:before {
  content: ""; }

.icon-chatboxes:before {
  content: ""; }

.icon-chatbubble:before {
  content: ""; }

.icon-chatbubble-working:before {
  content: ""; }

.icon-chatbubbles:before {
  content: ""; }

.icon-checkmark:before {
  content: ""; }

.icon-checkmark-circled:before {
  content: ""; }

.icon-checkmark-round:before {
  content: ""; }

.icon-chevron-down:before {
  content: ""; }

.icon-chevron-left:before {
  content: ""; }

.icon-chevron-right:before {
  content: ""; }

.icon-chevron-up:before {
  content: ""; }

.icon-clipboard:before {
  content: ""; }

.icon-clock:before {
  content: ""; }

.icon-close:before {
  content: ""; }

.icon-close-circled:before {
  content: ""; }

.icon-close-round:before {
  content: ""; }

.icon-closed-captioning:before {
  content: ""; }

.icon-cloud:before {
  content: ""; }

.icon-code:before {
  content: ""; }

.icon-code-download:before {
  content: ""; }

.icon-code-working:before {
  content: ""; }

.icon-coffee:before {
  content: ""; }

.icon-compass:before {
  content: ""; }

.icon-compose:before {
  content: ""; }

.icon-connection-bars:before {
  content: ""; }

.icon-contrast:before {
  content: ""; }

.icon-crop:before {
  content: ""; }

.icon-cube:before {
  content: ""; }

.icon-disc:before {
  content: ""; }

.icon-document:before {
  content: ""; }

.icon-document-text:before {
  content: ""; }

.icon-drag:before {
  content: ""; }

.icon-earth:before {
  content: ""; }

.icon-easel:before {
  content: ""; }

.icon-edit:before {
  content: ""; }

.icon-egg:before {
  content: ""; }

.icon-eject:before {
  content: ""; }

.icon-email:before {
  content: ""; }

.icon-email-unread:before {
  content: ""; }

.icon-erlenmeyer-flask:before {
  content: ""; }

.icon-erlenmeyer-flask-bubbles:before {
  content: ""; }

.icon-eye:before {
  content: ""; }

.icon-eye-disabled:before {
  content: ""; }

.icon-female:before {
  content: ""; }

.icon-filing:before {
  content: ""; }

.icon-film-marker:before {
  content: ""; }

.icon-fireball:before {
  content: ""; }

.icon-flag:before {
  content: ""; }

.icon-flame:before {
  content: ""; }

.icon-flash:before {
  content: ""; }

.icon-flash-off:before {
  content: ""; }

.icon-folder:before {
  content: ""; }

.icon-fork:before {
  content: ""; }

.icon-fork-repo:before {
  content: ""; }

.icon-forward:before {
  content: ""; }

.icon-funnel:before {
  content: ""; }

.icon-gear-a:before {
  content: ""; }

.icon-gear-b:before {
  content: ""; }

.icon-grid:before {
  content: ""; }

.icon-hammer:before {
  content: ""; }

.icon-happy:before {
  content: ""; }

.icon-happy-outline:before {
  content: ""; }

.icon-headphone:before {
  content: ""; }

.icon-heart:before {
  content: ""; }

.icon-heart-broken:before {
  content: ""; }

.icon-help:before {
  content: ""; }

.icon-help-buoy:before {
  content: ""; }

.icon-help-circled:before {
  content: ""; }

.icon-home:before {
  content: ""; }

.icon-icecream:before {
  content: ""; }

.icon-image:before {
  content: ""; }

.icon-images:before {
  content: ""; }

.icon-information:before {
  content: ""; }

.icon-information-circled:before {
  content: ""; }

.icon-ionic:before {
  content: ""; }

.icon-ios-alarm:before {
  content: ""; }

.icon-ios-alarm-outline:before {
  content: ""; }

.icon-ios-albums:before {
  content: ""; }

.icon-ios-albums-outline:before {
  content: ""; }

.icon-ios-americanfootball:before {
  content: ""; }

.icon-ios-americanfootball-outline:before {
  content: ""; }

.icon-ios-analytics:before {
  content: ""; }

.icon-ios-analytics-outline:before {
  content: ""; }

.icon-ios-arrow-back:before {
  content: ""; }

.icon-ios-arrow-down:before {
  content: ""; }

.icon-ios-arrow-forward:before {
  content: ""; }

.icon-ios-arrow-left:before {
  content: ""; }

.icon-ios-arrow-right:before {
  content: ""; }

.icon-ios-arrow-thin-down:before {
  content: ""; }

.icon-ios-arrow-thin-left:before {
  content: ""; }

.icon-ios-arrow-thin-right:before {
  content: ""; }

.icon-ios-arrow-thin-up:before {
  content: ""; }

.icon-ios-arrow-up:before {
  content: ""; }

.icon-ios-at:before {
  content: ""; }

.icon-ios-at-outline:before {
  content: ""; }

.icon-ios-barcode:before {
  content: ""; }

.icon-ios-barcode-outline:before {
  content: ""; }

.icon-ios-baseball:before {
  content: ""; }

.icon-ios-baseball-outline:before {
  content: ""; }

.icon-ios-basketball:before {
  content: ""; }

.icon-ios-basketball-outline:before {
  content: ""; }

.icon-ios-bell:before {
  content: ""; }

.icon-ios-bell-outline:before {
  content: ""; }

.icon-ios-body:before {
  content: ""; }

.icon-ios-body-outline:before {
  content: ""; }

.icon-ios-bolt:before {
  content: ""; }

.icon-ios-bolt-outline:before {
  content: ""; }

.icon-ios-book:before {
  content: ""; }

.icon-ios-book-outline:before {
  content: ""; }

.icon-ios-bookmarks:before {
  content: ""; }

.icon-ios-bookmarks-outline:before {
  content: ""; }

.icon-ios-box:before {
  content: ""; }

.icon-ios-box-outline:before {
  content: ""; }

.icon-ios-briefcase:before {
  content: ""; }

.icon-ios-briefcase-outline:before {
  content: ""; }

.icon-ios-browsers:before {
  content: ""; }

.icon-ios-browsers-outline:before {
  content: ""; }

.icon-ios-calculator:before {
  content: ""; }

.icon-ios-calculator-outline:before {
  content: ""; }

.icon-ios-calendar:before {
  content: ""; }

.icon-ios-calendar-outline:before {
  content: ""; }

.icon-ios-camera:before {
  content: ""; }

.icon-ios-camera-outline:before {
  content: ""; }

.icon-ios-cart:before {
  content: ""; }

.icon-ios-cart-outline:before {
  content: ""; }

.icon-ios-chatboxes:before {
  content: ""; }

.icon-ios-chatboxes-outline:before {
  content: ""; }

.icon-ios-chatbubble:before {
  content: ""; }

.icon-ios-chatbubble-outline:before {
  content: ""; }

.icon-ios-checkmark:before {
  content: ""; }

.icon-ios-checkmark-empty:before {
  content: ""; }

.icon-ios-checkmark-outline:before {
  content: ""; }

.icon-ios-circle-filled:before {
  content: ""; }

.icon-ios-circle-outline:before {
  content: ""; }

.icon-ios-clock:before {
  content: ""; }

.icon-ios-clock-outline:before {
  content: ""; }

.icon-ios-close:before {
  content: ""; }

.icon-ios-close-empty:before {
  content: ""; }

.icon-ios-close-outline:before {
  content: ""; }

.icon-ios-cloud:before {
  content: ""; }

.icon-ios-cloud-download:before {
  content: ""; }

.icon-ios-cloud-download-outline:before {
  content: ""; }

.icon-ios-cloud-outline:before {
  content: ""; }

.icon-ios-cloud-upload:before {
  content: ""; }

.icon-ios-cloud-upload-outline:before {
  content: ""; }

.icon-ios-cloudy:before {
  content: ""; }

.icon-ios-cloudy-night:before {
  content: ""; }

.icon-ios-cloudy-night-outline:before {
  content: ""; }

.icon-ios-cloudy-outline:before {
  content: ""; }

.icon-ios-cog:before {
  content: ""; }

.icon-ios-cog-outline:before {
  content: ""; }

.icon-ios-color-filter:before {
  content: ""; }

.icon-ios-color-filter-outline:before {
  content: ""; }

.icon-ios-color-wand:before {
  content: ""; }

.icon-ios-color-wand-outline:before {
  content: ""; }

.icon-ios-compose:before {
  content: ""; }

.icon-ios-compose-outline:before {
  content: ""; }

.icon-ios-contact:before {
  content: ""; }

.icon-ios-contact-outline:before {
  content: ""; }

.icon-ios-copy:before {
  content: ""; }

.icon-ios-copy-outline:before {
  content: ""; }

.icon-ios-crop:before {
  content: ""; }

.icon-ios-crop-strong:before {
  content: ""; }

.icon-ios-download:before {
  content: ""; }

.icon-ios-download-outline:before {
  content: ""; }

.icon-ios-drag:before {
  content: ""; }

.icon-ios-email:before {
  content: ""; }

.icon-ios-email-outline:before {
  content: ""; }

.icon-ios-eye:before {
  content: ""; }

.icon-ios-eye-outline:before {
  content: ""; }

.icon-ios-fastforward:before {
  content: ""; }

.icon-ios-fastforward-outline:before {
  content: ""; }

.icon-ios-filing:before {
  content: ""; }

.icon-ios-filing-outline:before {
  content: ""; }

.icon-ios-film:before {
  content: ""; }

.icon-ios-film-outline:before {
  content: ""; }

.icon-ios-flag:before {
  content: ""; }

.icon-ios-flag-outline:before {
  content: ""; }

.icon-ios-flame:before {
  content: ""; }

.icon-ios-flame-outline:before {
  content: ""; }

.icon-ios-flask:before {
  content: ""; }

.icon-ios-flask-outline:before {
  content: ""; }

.icon-ios-flower:before {
  content: ""; }

.icon-ios-flower-outline:before {
  content: ""; }

.icon-ios-folder:before {
  content: ""; }

.icon-ios-folder-outline:before {
  content: ""; }

.icon-ios-football:before {
  content: ""; }

.icon-ios-football-outline:before {
  content: ""; }

.icon-ios-game-controller-a:before {
  content: ""; }

.icon-ios-game-controller-a-outline:before {
  content: ""; }

.icon-ios-game-controller-b:before {
  content: ""; }

.icon-ios-game-controller-b-outline:before {
  content: ""; }

.icon-ios-gear:before {
  content: ""; }

.icon-ios-gear-outline:before {
  content: ""; }

.icon-ios-glasses:before {
  content: ""; }

.icon-ios-glasses-outline:before {
  content: ""; }

.icon-ios-grid-view:before {
  content: ""; }

.icon-ios-grid-view-outline:before {
  content: ""; }

.icon-ios-heart:before {
  content: ""; }

.icon-ios-heart-outline:before {
  content: ""; }

.icon-ios-help:before {
  content: ""; }

.icon-ios-help-empty:before {
  content: ""; }

.icon-ios-help-outline:before {
  content: ""; }

.icon-ios-home:before {
  content: ""; }

.icon-ios-home-outline:before {
  content: ""; }

.icon-ios-infinite:before {
  content: ""; }

.icon-ios-infinite-outline:before {
  content: ""; }

.icon-ios-information:before {
  content: ""; }

.icon-ios-information-empty:before {
  content: ""; }

.icon-ios-information-outline:before {
  content: ""; }

.icon-ios-ionic-outline:before {
  content: ""; }

.icon-ios-keypad:before {
  content: ""; }

.icon-ios-keypad-outline:before {
  content: ""; }

.icon-ios-lightbulb:before {
  content: ""; }

.icon-ios-lightbulb-outline:before {
  content: ""; }

.icon-ios-list:before {
  content: ""; }

.icon-ios-list-outline:before {
  content: ""; }

.icon-ios-location:before {
  content: ""; }

.icon-ios-location-outline:before {
  content: ""; }

.icon-ios-locked:before {
  content: ""; }

.icon-ios-locked-outline:before {
  content: ""; }

.icon-ios-loop:before {
  content: ""; }

.icon-ios-loop-strong:before {
  content: ""; }

.icon-ios-medical:before {
  content: ""; }

.icon-ios-medical-outline:before {
  content: ""; }

.icon-ios-medkit:before {
  content: ""; }

.icon-ios-medkit-outline:before {
  content: ""; }

.icon-ios-mic:before {
  content: ""; }

.icon-ios-mic-off:before {
  content: ""; }

.icon-ios-mic-outline:before {
  content: ""; }

.icon-ios-minus:before {
  content: ""; }

.icon-ios-minus-empty:before {
  content: ""; }

.icon-ios-minus-outline:before {
  content: ""; }

.icon-ios-monitor:before {
  content: ""; }

.icon-ios-monitor-outline:before {
  content: ""; }

.icon-ios-moon:before {
  content: ""; }

.icon-ios-moon-outline:before {
  content: ""; }

.icon-ios-more:before {
  content: ""; }

.icon-ios-more-outline:before {
  content: ""; }

.icon-ios-musical-note:before {
  content: ""; }

.icon-ios-musical-notes:before {
  content: ""; }

.icon-ios-navigate:before {
  content: ""; }

.icon-ios-navigate-outline:before {
  content: ""; }

.icon-ios-nutrition:before {
  content: ""; }

.icon-ios-nutrition-outline:before {
  content: ""; }

.icon-ios-paper:before {
  content: ""; }

.icon-ios-paper-outline:before {
  content: ""; }

.icon-ios-paperplane:before {
  content: ""; }

.icon-ios-paperplane-outline:before {
  content: ""; }

.icon-ios-partlysunny:before {
  content: ""; }

.icon-ios-partlysunny-outline:before {
  content: ""; }

.icon-ios-pause:before {
  content: ""; }

.icon-ios-pause-outline:before {
  content: ""; }

.icon-ios-paw:before {
  content: ""; }

.icon-ios-paw-outline:before {
  content: ""; }

.icon-ios-people:before {
  content: ""; }

.icon-ios-people-outline:before {
  content: ""; }

.icon-ios-person:before {
  content: ""; }

.icon-ios-person-outline:before {
  content: ""; }

.icon-ios-personadd:before {
  content: ""; }

.icon-ios-personadd-outline:before {
  content: ""; }

.icon-ios-photos:before {
  content: ""; }

.icon-ios-photos-outline:before {
  content: ""; }

.icon-ios-pie:before {
  content: ""; }

.icon-ios-pie-outline:before {
  content: ""; }

.icon-ios-pint:before {
  content: ""; }

.icon-ios-pint-outline:before {
  content: ""; }

.icon-ios-play:before {
  content: ""; }

.icon-ios-play-outline:before {
  content: ""; }

.icon-ios-plus:before {
  content: ""; }

.icon-ios-plus-empty:before {
  content: ""; }

.icon-ios-plus-outline:before {
  content: ""; }

.icon-ios-pricetag:before {
  content: ""; }

.icon-ios-pricetag-outline:before {
  content: ""; }

.icon-ios-pricetags:before {
  content: ""; }

.icon-ios-pricetags-outline:before {
  content: ""; }

.icon-ios-printer:before {
  content: ""; }

.icon-ios-printer-outline:before {
  content: ""; }

.icon-ios-pulse:before {
  content: ""; }

.icon-ios-pulse-strong:before {
  content: ""; }

.icon-ios-rainy:before {
  content: ""; }

.icon-ios-rainy-outline:before {
  content: ""; }

.icon-ios-recording:before {
  content: ""; }

.icon-ios-recording-outline:before {
  content: ""; }

.icon-ios-redo:before {
  content: ""; }

.icon-ios-redo-outline:before {
  content: ""; }

.icon-ios-refresh:before {
  content: ""; }

.icon-ios-refresh-empty:before {
  content: ""; }

.icon-ios-refresh-outline:before {
  content: ""; }

.icon-ios-reload:before {
  content: ""; }

.icon-ios-reverse-camera:before {
  content: ""; }

.icon-ios-reverse-camera-outline:before {
  content: ""; }

.icon-ios-rewind:before {
  content: ""; }

.icon-ios-rewind-outline:before {
  content: ""; }

.icon-ios-rose:before {
  content: ""; }

.icon-ios-rose-outline:before {
  content: ""; }

.icon-ios-search:before {
  content: ""; }

.icon-ios-search-strong:before {
  content: ""; }

.icon-ios-settings:before {
  content: ""; }

.icon-ios-settings-strong:before {
  content: ""; }

.icon-ios-shuffle:before {
  content: ""; }

.icon-ios-shuffle-strong:before {
  content: ""; }

.icon-ios-skipbackward:before {
  content: ""; }

.icon-ios-skipbackward-outline:before {
  content: ""; }

.icon-ios-skipforward:before {
  content: ""; }

.icon-ios-skipforward-outline:before {
  content: ""; }

.icon-ios-snowy:before {
  content: ""; }

.icon-ios-speedometer:before {
  content: ""; }

.icon-ios-speedometer-outline:before {
  content: ""; }

.icon-ios-star:before {
  content: ""; }

.icon-ios-star-half:before {
  content: ""; }

.icon-ios-star-outline:before {
  content: ""; }

.icon-ios-stopwatch:before {
  content: ""; }

.icon-ios-stopwatch-outline:before {
  content: ""; }

.icon-ios-sunny:before {
  content: ""; }

.icon-ios-sunny-outline:before {
  content: ""; }

.icon-ios-telephone:before {
  content: ""; }

.icon-ios-telephone-outline:before {
  content: ""; }

.icon-ios-tennisball:before {
  content: ""; }

.icon-ios-tennisball-outline:before {
  content: ""; }

.icon-ios-thunderstorm:before {
  content: ""; }

.icon-ios-thunderstorm-outline:before {
  content: ""; }

.icon-ios-time:before {
  content: ""; }

.icon-ios-time-outline:before {
  content: ""; }

.icon-ios-timer:before {
  content: ""; }

.icon-ios-timer-outline:before {
  content: ""; }

.icon-ios-toggle:before {
  content: ""; }

.icon-ios-toggle-outline:before {
  content: ""; }

.icon-ios-trash:before {
  content: ""; }

.icon-ios-trash-outline:before {
  content: ""; }

.icon-ios-undo:before {
  content: ""; }

.icon-ios-undo-outline:before {
  content: ""; }

.icon-ios-unlocked:before {
  content: ""; }

.icon-ios-unlocked-outline:before {
  content: ""; }

.icon-ios-upload:before {
  content: ""; }

.icon-ios-upload-outline:before {
  content: ""; }

.icon-ios-videocam:before {
  content: ""; }

.icon-ios-videocam-outline:before {
  content: ""; }

.icon-ios-volume-high:before {
  content: ""; }

.icon-ios-volume-low:before {
  content: ""; }

.icon-ios-wineglass:before {
  content: ""; }

.icon-ios-wineglass-outline:before {
  content: ""; }

.icon-ios-world:before {
  content: ""; }

.icon-ios-world-outline:before {
  content: ""; }

.icon-ipad:before {
  content: ""; }

.icon-iphone:before {
  content: ""; }

.icon-ipod:before {
  content: ""; }

.icon-jet:before {
  content: ""; }

.icon-key:before {
  content: ""; }

.icon-knife:before {
  content: ""; }

.icon-laptop:before {
  content: ""; }

.icon-leaf:before {
  content: ""; }

.icon-levels:before {
  content: ""; }

.icon-lightbulb:before {
  content: ""; }

.icon-link:before {
  content: ""; }

.icon-load-a:before {
  content: ""; }

.icon-load-b:before {
  content: ""; }

.icon-load-c:before {
  content: ""; }

.icon-load-d:before {
  content: ""; }

.icon-location:before {
  content: ""; }

.icon-lock-combination:before {
  content: ""; }

.icon-locked:before {
  content: ""; }

.icon-log-in:before {
  content: ""; }

.icon-log-out:before {
  content: ""; }

.icon-loop:before {
  content: ""; }

.icon-magnet:before {
  content: ""; }

.icon-male:before {
  content: ""; }

.icon-man:before {
  content: ""; }

.icon-map:before {
  content: ""; }

.icon-medkit:before {
  content: ""; }

.icon-merge:before {
  content: ""; }

.icon-mic-a:before {
  content: ""; }

.icon-mic-b:before {
  content: ""; }

.icon-mic-c:before {
  content: ""; }

.icon-minus:before {
  content: ""; }

.icon-minus-circled:before {
  content: ""; }

.icon-minus-round:before {
  content: ""; }

.icon-model-s:before {
  content: ""; }

.icon-monitor:before {
  content: ""; }

.icon-more:before {
  content: ""; }

.icon-mouse:before {
  content: ""; }

.icon-music-note:before {
  content: ""; }

.icon-navicon:before {
  content: ""; }

.icon-navicon-round:before {
  content: ""; }

.icon-navigate:before {
  content: ""; }

.icon-network:before {
  content: ""; }

.icon-no-smoking:before {
  content: ""; }

.icon-nuclear:before {
  content: ""; }

.icon-outlet:before {
  content: ""; }

.icon-paintbrush:before {
  content: ""; }

.icon-paintbucket:before {
  content: ""; }

.icon-paper-airplane:before {
  content: ""; }

.icon-paperclip:before {
  content: ""; }

.icon-pause:before {
  content: ""; }

.icon-person:before {
  content: ""; }

.icon-person-add:before {
  content: ""; }

.icon-person-stalker:before {
  content: ""; }

.icon-pie-graph:before {
  content: ""; }

.icon-pin:before {
  content: ""; }

.icon-pinpoint:before {
  content: ""; }

.icon-pizza:before {
  content: ""; }

.icon-plane:before {
  content: ""; }

.icon-planet:before {
  content: ""; }

.icon-play:before {
  content: ""; }

.icon-playstation:before {
  content: ""; }

.icon-plus:before {
  content: ""; }

.icon-plus-circled:before {
  content: ""; }

.icon-plus-round:before {
  content: ""; }

.icon-podium:before {
  content: ""; }

.icon-pound:before {
  content: ""; }

.icon-power:before {
  content: ""; }

.icon-pricetag:before {
  content: ""; }

.icon-pricetags:before {
  content: ""; }

.icon-printer:before {
  content: ""; }

.icon-pull-request:before {
  content: ""; }

.icon-qr-scanner:before {
  content: ""; }

.icon-quote:before {
  content: ""; }

.icon-radio-waves:before {
  content: ""; }

.icon-record:before {
  content: ""; }

.icon-refresh:before {
  content: ""; }

.icon-reply:before {
  content: ""; }

.icon-reply-all:before {
  content: ""; }

.icon-ribbon-a:before {
  content: ""; }

.icon-ribbon-b:before {
  content: ""; }

.icon-sad:before {
  content: ""; }

.icon-sad-outline:before {
  content: ""; }

.icon-scissors:before {
  content: ""; }

.icon-search:before {
  content: ""; }

.icon-settings:before {
  content: ""; }

.icon-share:before {
  content: ""; }

.icon-shuffle:before {
  content: ""; }

.icon-skip-backward:before {
  content: ""; }

.icon-skip-forward:before {
  content: ""; }

.icon-social-android:before {
  content: ""; }

.icon-social-android-outline:before {
  content: ""; }

.icon-social-angular:before {
  content: ""; }

.icon-social-angular-outline:before {
  content: ""; }

.icon-social-apple:before {
  content: ""; }

.icon-social-apple-outline:before {
  content: ""; }

.icon-social-bitcoin:before {
  content: ""; }

.icon-social-bitcoin-outline:before {
  content: ""; }

.icon-social-buffer:before {
  content: ""; }

.icon-social-buffer-outline:before {
  content: ""; }

.icon-social-chrome:before {
  content: ""; }

.icon-social-chrome-outline:before {
  content: ""; }

.icon-social-codepen:before {
  content: ""; }

.icon-social-codepen-outline:before {
  content: ""; }

.icon-social-css3:before {
  content: ""; }

.icon-social-css3-outline:before {
  content: ""; }

.icon-social-designernews:before {
  content: ""; }

.icon-social-designernews-outline:before {
  content: ""; }

.icon-social-dribbble:before {
  content: ""; }

.icon-social-dribbble-outline:before {
  content: ""; }

.icon-social-dropbox:before {
  content: ""; }

.icon-social-dropbox-outline:before {
  content: ""; }

.icon-social-euro:before {
  content: ""; }

.icon-social-euro-outline:before {
  content: ""; }

.icon-social-facebook:before {
  content: ""; }

.icon-social-facebook-outline:before {
  content: ""; }

.icon-social-foursquare:before {
  content: ""; }

.icon-social-foursquare-outline:before {
  content: ""; }

.icon-social-freebsd-devil:before {
  content: ""; }

.icon-social-github:before {
  content: ""; }

.icon-social-github-outline:before {
  content: ""; }

.icon-social-google:before {
  content: ""; }

.icon-social-google-outline:before {
  content: ""; }

.icon-social-googleplus:before {
  content: ""; }

.icon-social-googleplus-outline:before {
  content: ""; }

.icon-social-hackernews:before {
  content: ""; }

.icon-social-hackernews-outline:before {
  content: ""; }

.icon-social-html5:before {
  content: ""; }

.icon-social-html5-outline:before {
  content: ""; }

.icon-social-instagram:before {
  content: ""; }

.icon-social-instagram-outline:before {
  content: ""; }

.icon-social-javascript:before {
  content: ""; }

.icon-social-javascript-outline:before {
  content: ""; }

.icon-social-linkedin:before {
  content: ""; }

.icon-social-linkedin-outline:before {
  content: ""; }

.icon-social-markdown:before {
  content: ""; }

.icon-social-nodejs:before {
  content: ""; }

.icon-social-octocat:before {
  content: ""; }

.icon-social-pinterest:before {
  content: ""; }

.icon-social-pinterest-outline:before {
  content: ""; }

.icon-social-python:before {
  content: ""; }

.icon-social-reddit:before {
  content: ""; }

.icon-social-reddit-outline:before {
  content: ""; }

.icon-social-rss:before {
  content: ""; }

.icon-social-rss-outline:before {
  content: ""; }

.icon-social-sass:before {
  content: ""; }

.icon-social-skype:before {
  content: ""; }

.icon-social-skype-outline:before {
  content: ""; }

.icon-social-snapchat:before {
  content: ""; }

.icon-social-snapchat-outline:before {
  content: ""; }

.icon-social-tumblr:before {
  content: ""; }

.icon-social-tumblr-outline:before {
  content: ""; }

.icon-social-tux:before {
  content: ""; }

.icon-social-twitch:before {
  content: ""; }

.icon-social-twitch-outline:before {
  content: ""; }

.icon-social-twitter:before {
  content: ""; }

.icon-social-twitter-outline:before {
  content: ""; }

.icon-social-usd:before {
  content: ""; }

.icon-social-usd-outline:before {
  content: ""; }

.icon-social-vimeo:before {
  content: ""; }

.icon-social-vimeo-outline:before {
  content: ""; }

.icon-social-whatsapp:before {
  content: ""; }

.icon-social-whatsapp-outline:before {
  content: ""; }

.icon-social-windows:before {
  content: ""; }

.icon-social-windows-outline:before {
  content: ""; }

.icon-social-wordpress:before {
  content: ""; }

.icon-social-wordpress-outline:before {
  content: ""; }

.icon-social-yahoo:before {
  content: ""; }

.icon-social-yahoo-outline:before {
  content: ""; }

.icon-social-yen:before {
  content: ""; }

.icon-social-yen-outline:before {
  content: ""; }

.icon-social-youtube:before {
  content: ""; }

.icon-social-youtube-outline:before {
  content: ""; }

.icon-soup-can:before {
  content: ""; }

.icon-soup-can-outline:before {
  content: ""; }

.icon-speakerphone:before {
  content: ""; }

.icon-speedometer:before {
  content: ""; }

.icon-spoon:before {
  content: ""; }

.icon-star:before {
  content: ""; }

.icon-stats-bars:before {
  content: ""; }

.icon-steam:before {
  content: ""; }

.icon-stop:before {
  content: ""; }

.icon-thermometer:before {
  content: ""; }

.icon-thumbsdown:before {
  content: ""; }

.icon-thumbsup:before {
  content: ""; }

.icon-toggle:before {
  content: ""; }

.icon-toggle-filled:before {
  content: ""; }

.icon-transgender:before {
  content: ""; }

.icon-trash-a:before {
  content: ""; }

.icon-trash-b:before {
  content: ""; }

.icon-trophy:before {
  content: ""; }

.icon-tshirt:before {
  content: ""; }

.icon-tshirt-outline:before {
  content: ""; }

.icon-umbrella:before {
  content: ""; }

.icon-university:before {
  content: ""; }

.icon-unlocked:before {
  content: ""; }

.icon-upload:before {
  content: ""; }

.icon-usb:before {
  content: ""; }

.icon-videocamera:before {
  content: ""; }

.icon-volume-high:before {
  content: ""; }

.icon-volume-low:before {
  content: ""; }

.icon-volume-medium:before {
  content: ""; }

.icon-volume-mute:before {
  content: ""; }

.icon-wand:before {
  content: ""; }

.icon-waterdrop:before {
  content: ""; }

.icon-wifi:before {
  content: ""; }

.icon-wineglass:before {
  content: ""; }

.icon-woman:before {
  content: ""; }

.icon-wrench:before {
  content: ""; }

.icon-xbox:before {
  content: ""; }

/**
 * Flex Grid -
 * Version: 0.2.1
 *
 * Simple grid built with flex box and sass.
 *
 * Matthew Simo - matthew.a.simo@gmail.com
 */
/**
 * Grid setup
 *
 * The grid will calculate dimensions based on these two variables
 * $fg-columns will inform the grid loops how many columns there should be.
 * $fg-gutter will inform the grid loops how big eac column's gutters should be.
 */
/**
 * Break point namespace object
 *
 * Set the default namespace object with these defaults with the
 * understanding that you can pass in whatever you might require for your site.
 *
 * $fg-breakpoints is a Sass list with nested lists inside. Each sub list defines two things.
 * 1. The namespace for that breakpoint. (Required) (i.e. xs, sm, md, lg)
 * 2. The min-width measurement for the breakpoint for that namespace. (i.e. 48em, 62em, 75em)
 *
 * Note: These should be in the proper order (at least till libsass handles map keys properly).
 *
 * Note: If the measurement is left out then it will be skipped when generating
 * the grid and applied to global styles.
 *
 */
/**
 * Calculate column size percentage
 */
/**
 * Spacing mixin to create uniform margin/padding
 */
/**
 * Row wrapper class, flex box parent.
 */
.row {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem; }

.col, .col-small, .col-medium, .col-large, .col-extra-large, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-small-1, .col-small-2, .col-small-3, .col-small-4, .col-small-5, .col-small-6, .col-small-7, .col-small-8, .col-small-9, .col-small-10, .col-small-11, .col-small-12, .col-medium-1, .col-medium-2, .col-medium-3, .col-medium-4, .col-medium-5, .col-medium-6, .col-medium-7, .col-medium-8, .col-medium-9, .col-medium-10, .col-medium-11, .col-medium-12, .col-large-1, .col-large-2, .col-large-3, .col-large-4, .col-large-5, .col-large-6, .col-large-7, .col-large-8, .col-large-9, .col-large-10, .col-large-11, .col-large-12, .col-extra-large-1, .col-extra-large-2, .col-extra-large-3, .col-extra-large-4, .col-extra-large-5, .col-extra-large-6, .col-extra-large-7, .col-extra-large-8, .col-extra-large-9, .col-extra-large-10, .col-extra-large-11, .col-extra-large-12 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem; }

/**
 * Generate a set of grid column classes using a namespace
 *
 * .col-[namespace] for intelligent column division
 * .col-[namespace]-[number] for a column that covers a specific number of columns (e.g. 1-12 by default)
 * .off-[namespace]-[number] for pushing a col a specific number of columns (e.g. 1-11 by default)
 */
/**
 * Build the grid in two steps, to help minimize file size
 * Step 1, for each namespace, create the grid-base
 * Step 2, for each namespace, wrap the col width/offset measurements in their breakpoint media query
 */
.col-1 {
  flex-basis: 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  flex-basis: 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  flex-basis: 25%;
  max-width: 25%; }

.col-4 {
  flex-basis: 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  flex-basis: 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  flex-basis: 50%;
  max-width: 50%; }

.col-7 {
  flex-basis: 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  flex-basis: 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  flex-basis: 75%;
  max-width: 75%; }

.col-10 {
  flex-basis: 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  flex-basis: 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  flex-basis: 100%;
  max-width: 100%; }

.off-1 {
  margin-left: 8.33333%; }

.off-2 {
  margin-left: 16.66667%; }

.off-3 {
  margin-left: 25%; }

.off-4 {
  margin-left: 33.33333%; }

.off-5 {
  margin-left: 41.66667%; }

.off-6 {
  margin-left: 50%; }

.off-7 {
  margin-left: 58.33333%; }

.off-8 {
  margin-left: 66.66667%; }

.off-9 {
  margin-left: 75%; }

.off-10 {
  margin-left: 83.33333%; }

.off-11 {
  margin-left: 91.66667%; }

@media only screen and (min-width: 420px) {
  .col-small-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }

  .col-small-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }

  .col-small-3 {
    flex-basis: 25%;
    max-width: 25%; }

  .col-small-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }

  .col-small-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }

  .col-small-6 {
    flex-basis: 50%;
    max-width: 50%; }

  .col-small-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }

  .col-small-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }

  .col-small-9 {
    flex-basis: 75%;
    max-width: 75%; }

  .col-small-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }

  .col-small-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }

  .col-small-12 {
    flex-basis: 100%;
    max-width: 100%; }

  .off-small-1 {
    margin-left: 8.33333%; }

  .off-small-2 {
    margin-left: 16.66667%; }

  .off-small-3 {
    margin-left: 25%; }

  .off-small-4 {
    margin-left: 33.33333%; }

  .off-small-5 {
    margin-left: 41.66667%; }

  .off-small-6 {
    margin-left: 50%; }

  .off-small-7 {
    margin-left: 58.33333%; }

  .off-small-8 {
    margin-left: 66.66667%; }

  .off-small-9 {
    margin-left: 75%; }

  .off-small-10 {
    margin-left: 83.33333%; }

  .off-small-11 {
    margin-left: 91.66667%; } }
@media only screen and (min-width: 768px) {
  .col-medium-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }

  .col-medium-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }

  .col-medium-3 {
    flex-basis: 25%;
    max-width: 25%; }

  .col-medium-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }

  .col-medium-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }

  .col-medium-6 {
    flex-basis: 50%;
    max-width: 50%; }

  .col-medium-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }

  .col-medium-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }

  .col-medium-9 {
    flex-basis: 75%;
    max-width: 75%; }

  .col-medium-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }

  .col-medium-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }

  .col-medium-12 {
    flex-basis: 100%;
    max-width: 100%; }

  .off-medium-1 {
    margin-left: 8.33333%; }

  .off-medium-2 {
    margin-left: 16.66667%; }

  .off-medium-3 {
    margin-left: 25%; }

  .off-medium-4 {
    margin-left: 33.33333%; }

  .off-medium-5 {
    margin-left: 41.66667%; }

  .off-medium-6 {
    margin-left: 50%; }

  .off-medium-7 {
    margin-left: 58.33333%; }

  .off-medium-8 {
    margin-left: 66.66667%; }

  .off-medium-9 {
    margin-left: 75%; }

  .off-medium-10 {
    margin-left: 83.33333%; }

  .off-medium-11 {
    margin-left: 91.66667%; } }
@media only screen and (min-width: 960px) {
  .col-large-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }

  .col-large-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }

  .col-large-3 {
    flex-basis: 25%;
    max-width: 25%; }

  .col-large-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }

  .col-large-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }

  .col-large-6 {
    flex-basis: 50%;
    max-width: 50%; }

  .col-large-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }

  .col-large-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }

  .col-large-9 {
    flex-basis: 75%;
    max-width: 75%; }

  .col-large-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }

  .col-large-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }

  .col-large-12 {
    flex-basis: 100%;
    max-width: 100%; }

  .off-large-1 {
    margin-left: 8.33333%; }

  .off-large-2 {
    margin-left: 16.66667%; }

  .off-large-3 {
    margin-left: 25%; }

  .off-large-4 {
    margin-left: 33.33333%; }

  .off-large-5 {
    margin-left: 41.66667%; }

  .off-large-6 {
    margin-left: 50%; }

  .off-large-7 {
    margin-left: 58.33333%; }

  .off-large-8 {
    margin-left: 66.66667%; }

  .off-large-9 {
    margin-left: 75%; }

  .off-large-10 {
    margin-left: 83.33333%; }

  .off-large-11 {
    margin-left: 91.66667%; } }
@media only screen and (min-width: 1120px) {
  .col-extra-large-1 {
    flex-basis: 8.33333%;
    max-width: 8.33333%; }

  .col-extra-large-2 {
    flex-basis: 16.66667%;
    max-width: 16.66667%; }

  .col-extra-large-3 {
    flex-basis: 25%;
    max-width: 25%; }

  .col-extra-large-4 {
    flex-basis: 33.33333%;
    max-width: 33.33333%; }

  .col-extra-large-5 {
    flex-basis: 41.66667%;
    max-width: 41.66667%; }

  .col-extra-large-6 {
    flex-basis: 50%;
    max-width: 50%; }

  .col-extra-large-7 {
    flex-basis: 58.33333%;
    max-width: 58.33333%; }

  .col-extra-large-8 {
    flex-basis: 66.66667%;
    max-width: 66.66667%; }

  .col-extra-large-9 {
    flex-basis: 75%;
    max-width: 75%; }

  .col-extra-large-10 {
    flex-basis: 83.33333%;
    max-width: 83.33333%; }

  .col-extra-large-11 {
    flex-basis: 91.66667%;
    max-width: 91.66667%; }

  .col-extra-large-12 {
    flex-basis: 100%;
    max-width: 100%; }

  .off-extra-large-1 {
    margin-left: 8.33333%; }

  .off-extra-large-2 {
    margin-left: 16.66667%; }

  .off-extra-large-3 {
    margin-left: 25%; }

  .off-extra-large-4 {
    margin-left: 33.33333%; }

  .off-extra-large-5 {
    margin-left: 41.66667%; }

  .off-extra-large-6 {
    margin-left: 50%; }

  .off-extra-large-7 {
    margin-left: 58.33333%; }

  .off-extra-large-8 {
    margin-left: 66.66667%; }

  .off-extra-large-9 {
    margin-left: 75%; }

  .off-extra-large-10 {
    margin-left: 83.33333%; }

  .off-extra-large-11 {
    margin-left: 91.66667%; } }
body {
  background-color: rgba(70, 89, 131, 0.04);
  padding-left: 28rem; }

/**
 * Place any helper classes below here and prepend the
 * class names with cck- to avoid conflicts
 */
.cck-truncate {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.media-upload {
  width: 1px;
  height: 1px;
  position: absolute;
  top: 0;
  left: -99999px;
  display: block; }

/* Page Heading */
.page-title {
  padding: 2.4rem 0; }

.page-title .sub-heading {
  color: #787878;
  font-family: sans-serif;
  font-weight: 400; }

.post-list i {
  font-size: 1em; }

.post-list .post .post-snippet,
.post-list .post .post-date {
  color: #5d5d5d; }

.post-list .post .post-actions {
  display: none;
  margin-top: .9rem; }

.post-list .post .post-actions a {
  color: #ddd;
  font-size: .9em;
  display: inline-block; }

.post-list .post .post-actions a.delete {
  color: red; }

.post-list .post .post-actions a:not(:last-child):after {
  content: "|";
  display: inline-block;
  padding-left: .9rem;
  padding-right: .9rem; }

.post-list .post .post-actions a:hover {
  color: #434343; }

.post-list .post:hover {
  background-color: #fdfdfd; }

.post-list .post:hover .post-actions {
  display: block; }

/* Sidebar */
.sidebar {
  background-color: #465983;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 28rem; }

.sidebar header {
  color: white;
  padding: 2.4rem 2.4rem 1.6rem; }
  .sidebar header a {
    color: inherit; }

.sidebar ul {
  margin: 0;
  padding: 0; }

.sidebar ul li {
  padding: 0;
  margin: 0; }

.sidebar ul li a {
  color: rgba(255, 255, 255, 0.8);
  display: block;
  padding: .8rem 2.4rem; }

.sidebar ul li a:hover {
  background-color: rgba(255, 255, 255, 0.07); }

.sidebar ul li a.active {
  font-weight: 700; }

.sidebar ul li a i {
  font-size: 18px;
  vertical-align: middle;
  margin-right: .5rem; }

.sidebar .actions {
  padding: .6rem 2.4rem 2.8rem; }

.sidebar .actions .button {
  display: block;
  text-align: center; }

.editor-sidebar {
  background-color: white;
  border-right: 1px solid #eee;
  height: 100vh;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 28rem; }
  .editor-sidebar header {
    border-bottom: 1px solid #eee;
    color: #465983;
    padding: 2.4rem 2.4rem 1.6rem; }
    .editor-sidebar header a {
      color: inherit; }
  .editor-sidebar section {
    border-bottom: 1px solid #eee;
    padding: 1.6rem 2.4rem; }
    .editor-sidebar section.basic {
      padding: 0; }
  .editor-sidebar .cover-image .placeholder {
    background-color: #f3f5f9;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.3rem !important;
    padding: 2rem;
    text-align: center; }
    .editor-sidebar .cover-image .placeholder > i {
      color: grey;
      display: block;
      text-align: center;
      font-size: 4.6rem;
      margin-bottom: 1.4rem; }
  .editor-sidebar .cover-image .image {
    position: relative; }
    .editor-sidebar .cover-image .image .remove-image {
      display: none;
      opacity: 0;
      transition: opacity .3s;
      position: absolute;
      top: .8rem;
      left: .8rem; }
    .editor-sidebar .cover-image .image img {
      border-radius: 0.3rem !important;
      display: block; }
    .editor-sidebar .cover-image .image:hover .remove-image {
      opacity: 1; }

.cms-editor {
  padding-top: 6rem; }
  .cms-editor label {
    font-size: 1.8rem; }
  .cms-editor .field-title input {
    background: none;
    border-radius: 0;
    border: 0;
    font-family: "Merriweather", -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Arial", sans-serif;;
    font-size: 3.4rem;
    font-weight: 700;
    padding: 0 2.4rem; }
  .cms-editor .wysiwyg .easyeditor-toolbar {
    border: 1px solid #eee;
    border-radius: 0.3rem !important;
    background-color: white;
    padding: 0 .5rem; }
    .cms-editor .wysiwyg .easyeditor-toolbar button {
      background: none;
      border: 0;
      color: #5870a4;
      display: inline-block;
      padding: .6rem .5rem .5rem;
      line-height: 1;
      vertical-align: middle;
      margin: 0; }
      .cms-editor .wysiwyg .easyeditor-toolbar button:hover {
        color: #465983; }
      .cms-editor .wysiwyg .easyeditor-toolbar button.toolbar-align-left, .cms-editor .wysiwyg .easyeditor-toolbar button.toolbar-bold {
        margin-left: 2rem; }
    .cms-editor .wysiwyg .easyeditor-toolbar ul li:last-child {
      float: right; }
  .cms-editor .wysiwyg .editor {
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Arial", sans-serif;
    font-size: 1.8rem;
    border: 0;
    margin: 4rem 0;
    padding: 0 2.4rem !important;
    min-height: 20rem; }
  .cms-editor .wysiwyg.std-editor .easyeditor-toolbar {
    background-color: #465983;
    border: 0;
    border-radius: 0 !important;
    margin: -3.4rem -2.4rem 0 -2.4rem; }
    .cms-editor .wysiwyg.std-editor .easyeditor-toolbar button {
      color: white; }

.gump-error-message {
  display: block;
  margin: .9rem 0; }

.field-repeater .sub-fields .sub-field-group {
  border-bottom: 2px solid #eee;
  margin-top: .8rem;
  position: relative; }
  .field-repeater .sub-fields .sub-field-group .field {
    background-color: #f6f6f6;
    padding: 1rem; }
    .field-repeater .sub-fields .sub-field-group .field label {
      font-size: 1em; }
  .field-repeater .sub-fields .sub-field-group .repeater-remove-field {
    position: absolute;
    top: -.8rem;
    right: -.8rem;
    margin: 0;
    opacity: 0;
    transition: opacity .3s; }
  .field-repeater .sub-fields .sub-field-group:hover > .repeater-remove-field {
    opacity: 1; }
  .field-repeater .sub-fields .sub-field-group .sub-field-group .field {
    background-color: white;
    padding: 1rem; }
.field-repeater .sub-field-actions {
  margin-top: .8rem;
  text-align: right; }

/*# sourceMappingURL=style.css.map */
