body {
    background-color: rgba(70, 89, 131, .04);
    font-family: sans-serif;
    padding-left: 24rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Merriweather", sans-serif;
    font-weight: 700;
}

form .field {
  padding: 1rem 0;
}

form .description {
  color: #777;
  font-size: .9em;
}

fieldset {
  border: 1px solid #eee;
  border-radius: 4px;
  margin: 1.5rem 0;
  padding: 1.4rem;
}

fieldset:first-of-type {
  margin-top: 0;
}

fieldset:last-of-type {
  margin-bottom: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.2em;
}

label.required::after {
  content: "*";
}

label.is-hidden {
  display: none;
}

label abbr {
  display: none;
}

input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="tel"],
input[type="search"],
select,
textarea {
  background-color: white;
  border: 1px solid #eee;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1.4rem;
  font-family: inherit;
  padding: .85em;
  width: 100%;
}

input[type="text"].is-invalid,
input[type="date"].is-invalid,
input[type="datetime"].is-invalid,
input[type="datetime-local"].is-invalid,
input[type="email"].is-invalid,
input[type="tel"].is-invalid,
input[type="search"].is-invalid,
select.is-invalid,
textarea.is-invalid {
  border-color: red;
}

input[type="text"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
input[type="search"]:hover,
select:hover,
textarea:hover {
  border: 1px solid #eee;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
select:focus,
textarea:focus {
  appearance: none;
  border-color: #555;
  box-shadow: none;
  outline: none;
}

input[type="checkbox"] {
  appearance: none;
  background-color: white;
  border: 1px solid #eee;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  padding: .65rem;
}

input[type="checkbox"]:focus {
  appearance: none;
  border-color: #555;
  box-shadow: none;
  outline: none;
}

input[type="checkbox"]:checked {
  background-color: #888;
  border-color: #444;
}

input[type="search"] {
  appearance: none;
}

select {
  appearance: none;
  background: url("../images/select.png") right no-repeat white;
  padding: 0.85rem 1.85rem 0.85rem 0.85rem;
}

textarea {
  height: 15rem;
  resize: vertical;
}



/* Sidebar */
.sidebar {
    background-color: #465983;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 24rem;
}

.sidebar header {
    color: white;
    padding: 2.4rem 2.4rem 1.6rem;
}

.sidebar ul {
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    padding: 0;
    margin: 0;
}

.sidebar ul li a {
    color: rgba(255,255,255,.8);
    display: block;
    padding: .8rem 2.4rem;
}

.sidebar ul li a:hover {
    background-color: rgba(255,255,255,.07);
}

.sidebar ul li a.active {
    font-weight: 700;
}

.sidebar ul li a i {
    font-size: 18px;
    vertical-align: middle;
    margin-right: .5rem;
}

.sidebar .actions {
    padding: .6rem 2.4rem 2.8rem;
}

.sidebar .actions .button {
    display: block;
    text-align: center;
}

/**/

/* Page Heading */
.page-title {
    padding: 2.4rem 0;
}

.page-title .sub-heading {
    color: #787878;
    font-family: sans-serif;
    font-weight: 400;
}

/* POst list */
.post-list i {
    font-size: 1em;
}
.post-list .post .post-snippet,
.post-list .post .post-date {
  color: #5d5d5d;
}

.post-list .post .post-actions {
  display: none;
  margin-top: .9rem;
}

.post-list .post .post-actions a {
  color: #ddd;
  font-size: .9em;
  display: inline-block;
}

.post-list .post .post-actions a.delete {
  color: red;
}

.post-list .post .post-actions a:not(:last-child):after {
  content: "|";
  display: inline-block;
  padding-left: .9rem;
  padding-right: .9rem;
}

.post-list .post .post-actions a:hover {
  color: #434343;
}

.post-list .post:hover {
  background-color: #fdfdfd;
}

.post-list .post:hover .post-actions {
  display: block;
}
