.cms-toolbar {
    background-color: white;
    box-shadow: 0 0 32px rgba(0,0,0,.14);
    box-sizing: border-box;
    color: white;
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Arial", sans-serif;
    font-size: 14px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9995;
    height: 41px;
}

.cms-toolbar h1,
.cms-toolbar h2,
.cms-toolbar h3,
.cms-toolbar h4,
.cms-toolbar h5,
.cms-toolbar h6 {
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Arial", sans-serif;
    font-weight: 700;
}

.cms-toolbar a {
    color: #465983;
    text-decoration: none;
}

.cms-toolbar .logo {
    background-color: #465983;
    color: white;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    padding: 8px 20px;
}

.cms-toolbar .navbar {
    position: absolute;
    right: 16px;
    top: 0;
}

.cms-toolbar .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cms-toolbar .navbar ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
}

.cms-toolbar .navbar ul li a {
    display: block;
    font-weight: 600;
    line-height: 1;
    padding: 8px 10px;
}

.cms-toolbar .navbar ul li a:hover {
    background-color: rgba(0,118,185,.1);
    color: #444;
}

.cms-toolbar .navbar ul li a i {
    font-size: 24px;
}

.cms-toolbar .navbar ul li .cms-toolbar-dropdown {
    background-color: #434343;
    border-radius: 0 0 4px 4px;
    display: none;
    position: absolute;
    right: 0;
    padding: 8px 0;
    min-width: 180px;
    z-index: 99999;
}

.cms-toolbar .navbar ul li:hover .cms-toolbar-dropdown {
    display: block;
}

.cms-toolbar .navbar ul li .cms-toolbar-dropdown li {
    display: block;
}

.cms-toolbar .navbar ul li .cms-toolbar-dropdown li a {
    color: white;
    padding: 5px 12px;
}

.cms-toolbar .navbar ul li .cms-toolbar-dropdown li a i {
    margin-right: 4px;
}

.cms-toolbar .navbar ul li .cms-toolbar-dropdown li a:hover {
    background-color: rgba(255,255,255,.1);
}

.cms-toolbar .navbar ul li a i {
    vertical-align: middle;
}

/* Editor tools */
.cms-editable {
    position: relative;
}

.cms-editable.is-editing {
    outline: 2px dashed #ededed;
}

.cms-editor-tools {
    border-radius: 4px;
    background-color: #454545;
    color: white;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 12px;
    z-index: 99980;
    transition: opacity .3s;
}

.cms-editable:hover .cms-editor-tools {
    opacity: 1;
}

.cms-editor-tools a {
    color: white;
    display: inline-block;
    line-height: 1;
    padding: 7px 6px;
    font-size: 18px;
}

.cms-editor-tools a i {
    font-size: 18px;
}

.cms-editor-tools a:hover {
    background-color: rgba(255,255,255,.1);
}


/* Alerts */
.cms-editor-alert {
    background-color: white;
    box-shadow: 0 0 14px rgba(0,0,0,.2);
    border-radius: 4px;
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Arial", sans-serif;
    font-size: 14px;
    padding: 12px;
    position: fixed;
    top: 14px;
    right: 14px;
    z-index: 99999;
}

.cms-editor-alert i {
    margin-right: 6px;
    vertical-align: middle;
    font-size: 1.2em;
}

.cms-editor-alert.alert-positive {
    background-color: #44b05f;
    color: white;
}

.cms-editor-alert.alert-negative {
    background-color: #e27a53;
    color: white;
}


/* Busy state */
.cms-editor-busy {
    background-color: rgba(255,255,255,.6);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}


/* Content Tools Overrides */
.ct-ignition__button.ct-ignition__button--edit {
    background: #465983;
    opacity: 1;
}
