.button {
    display: inline-block;
    text-align: center;
    background-color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    color: #FFF;
    text-decoration: none;
    @include border-radius(10px); 
}

.button p {
    color: #FFF;
    text-decoration: none; }
