.footer {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    border-top: 1px solid #dddddd;
    width: 100%;

    p {
        color: #bababa;
        font-weight: lighter;
        font-size: 12px;
        text-align: center; }

    .owner {
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
    }

}
