@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,300italic,400italic,600italic,700,700italic);

$box-border : 1px solid #DDD;
$font : 'Open Sans', sans-serif;
$primary : #516986;
$secondary : #FC6620;

.contactform {
    font-family: $font;
    font-size: 14px;
    display: block;

    input {
        font-family: $font;
        font-size: 14px;
        background-color: white;
        box-sizing: border-box;
        width: 100%;
        border-radius: 5px;
        padding: 15px;
        margin: 10px 0 0 0;
        border: $box-border; }

        label {
            line-height: 1; }

        input[type="checkbox"] {
            font-family: $font;
            font-size: 14px;
            margin-bottom: 10px;
            display: inline-block;
            width: auto;
            margin-right: 20px; }

        input[type="radio"] {
            font-family: $font;
            font-size: 14px;
            margin-bottom: 10px;
            display: inline-block;
            width: auto;
            margin-right: 20px; }

        select {
            font-family: $font;
            font-size: 14px;
            background-image: url('../images/arrow.png');
            background-position: center right;
            background-repeat: no-repeat;
            appearance: none;
            box-shadow: none;
            outline: none;
            background-color: white;
            box-sizing: border-box;
            width: 100%;
            border-radius: 5px;
            padding: 6px 28px 6px 15px;
            margin: 10px 0 10px 0;
            border: $box-border; }

    textarea {
        font-family: $font;
        font-size: 14px;
        border: $box-border;
        padding: 15px;
        box-sizing: border-box;
        width: 100%;
        height: 80px;
        border-radius: 5px;
        margin-top: 10px; }

    .gump-error-message {
        display: block;
        box-sizing: border-box;
        font-size: 12px;
        line-height: 2; }

    .cf-alert {
        box-sizing: border-box;
        margin: 0 auto;
        width: 100%; }

    #submit {
        font-family: $font;
        font-size: 14px;
        color: #FFF;
        padding: 15px;
        line-height: 1;
        margin-top: 10px;
        width: 100%;
        border-radius: 5px;
        background-color: $secondary;
        border: $box-border;
        margin-bottom: 20px; }

}
