// Border Radius
@mixin border-radius($radius) {
    border-radius: $radius;
}

// Grid Column
@mixin grid-column($span) {

    // Work out width
    $num-gutters: $columns - 1; // Gutters will always be 1 less then columns
    $gutter-space: $num-gutters * $gutter; // Finding total space taken up by gutters
    $remaining-space: 100 - $gutter-space; // Subtracting the total gutter space from 100(%)
    $column-width: $remaining-space / $columns; // Finding column width by dividing space left by number of columns
    $width: ($span) * $column-width + ($gutter * ($span - 1) );
    width: $width;

}

// Grid Container
@mixin grid-container() {

    &::after {
        clear: both;
        content: "";
        display: table; }

}

// Clearfix
@mixin clearfix() {
    @include grid-container(); }
