$primary-color : #FFF;
$secondary-color : #FFF;

.menu {
    margin-right: -10px;
    text-align: right;
    color: #000;
    display: block;
    font-size: 30px;
    text-decoration: none; }

.toggle {
    float: right;
    display: block; }

.hamburger {
    &:focus {
        appearance: none;
        box-shadow: none;
        outline: none; }
}

.nav {
    font-family: 'Roboto Slab', serif;
    font-size: 1em; font-weight: 300;
    overflow: auto;
    transition: left .4s;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    background-color: $primary;
    position: fixed;
    left: -300px;
    top: 0;
    height: 100vh;
    margin: 0;
    width: 250px;
    z-index: 9999;
    text-align: left;
    font-size: 22px;

    li {
        .zmdi {
            background-color: #394c63;
            float: right;
            color: white;
            border-bottom: 1px solid #243446;
            border-top: 1px solid #516986;
            padding-top: 21px;
            padding-bottom: 23px;
            margin-top: -21px;
            padding-left: 20px;
            padding-right: 20px;
            margin-right: -20px;
        }

        ul {
            display: none;

            &.is-open {
                display: block;
            }

            li {
                a {
                    border-top: 1px solid #2b394a;
                    border-bottom: 1px solid #486283;
                    background-color: #1d2937;
                    padding-left: 40px;
                }
            }

            li.active {
                a {
                    border-top: 1px solid #ff9c6e;
                    border-bottom: 1px solid #dd5111;
                    background-color: $secondary;
                }
            }
        }
    }

    a {
        font-size: 0.8em;
        border-top: 1px solid #617d9f;
        border-bottom: 1px solid #354c69;
        font-weight: 200;
        color: white;
        display: block;
        padding: 20px;
        text-decoration: none;
    }

    li.active {
        a {
            border-top: 1px solid #ff9c6e;
            border-bottom: 1px solid #dd5111;
            background-color: $secondary;
        }

        .zmdi {
            background-color: #e0674a;
            float: right;
            color: white;
            border-bottom: 1px solid #c8593e;
            border-top: 1px solid #ed7b60;
            padding-top: 22px;
            padding-bottom: 23px;
            margin-top: -21px;
            padding-left: 20px;
            padding-right: 20px;
            margin-right: -20px;
        }

        ul {
            li {
                a {
                    border-top: 1px solid #2b394a;
                    border-bottom: 1px solid #224363;
                    background-color: #1d2937;
                    padding-left: 40px;
                }
            }
        }
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0; }

    &.isOpen {
        left: 0;
    }
}

@media (min-width: $bp-medium) {

    .toggle {
        display: none; }

        .nav {
            overflow: visible;
            background-color: rgba(255, 0, 0, 0.0);
            transition: none;
            box-shadow: none;
            border-right: none;
            position: relative;
            left: 0;
            top: 0;
            height: auto;
            margin: 0;
            width: auto;
            z-index: none;
            text-decoration: none;
            text-align: center;
            font-size: 14px;
            float: right;
            margin-right: -10px;

            a {
                font-size: 1.2em;
                border-top: 0px solid #617d9f;
                border-bottom: 0px solid #354c69;
                font-weight: 400;
                padding: 10px;
                transition:.5s;
                color: black;
            }

            a:hover {
                transition:.5s;
                color: $secondary;

                .zmdi {
                    transition:.5s;
                    color: $secondary;
                }
            }

            .zmdi {
                transition:.5s;
            }

            ul {
                list-style-type: none; }

            li {
                position: relative;
                background-color: rgba(255, 0, 0, 0.0);;
                display: inline-block;
                padding: 10px 0 20px 0;
                bottom: 0;
                border-bottom: 0px solid #dddddd;

                .zmdi {
                    padding-left: 5px;
                    font-size: 1.2em;
                    border-top: 0px;
                    border-bottom: 0px;
                    color: black;
                    display: block;
                    background-color: rgba(black, 0.0);
                }

                &:last-child {
                    padding-right: 0;
                }

                ul {
                    @include border-radius(5px);
                    background-color: $primary;
                    position: absolute;
                    display: none;
                    top:0;
                    right: -86px;
                    left: auto;
                    padding:0;
                    width: 250px;
                    margin-top: 55px;
                    margin-left: auto;

                    li {
                        display: block;
                        padding: 0;

                        a {
                            color: white;
                            border-top: 1px solid #617d9f;
                            border-bottom: 1px solid #354c69;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            background-color: rgba(white, 0.0);
                            padding-left: 0px;
                        }

                        &:first-child {
                            a {
                                border-top: 0px;
                            }
                        }

                        &:last-child {
                            a {
                                border-bottom: 0px;
                            }
                        }
                    }

                    li:hover {
                        transition:.5s;
                        a {
                            @include border-radius(5px);
                            background-color: #1d2937;
                            color: $secondary;
                        }

                        .zmdi {
                            transition:.5s;
                            color: $secondary;
                        }
                    }

                    li.active {
                        a {
                            border-top: 1px solid #1e2a39;
                            border-bottom: 1px solid #101720;
                            @include border-radius(5px);
                            background-color: #1d2937;
                            color: $secondary;
                            padding-left: 0px;
                        }

                        &:first-child {
                            a {
                                border-top: 0px;
                            }
                        }

                        &:last-child {
                            a {
                                border-bottom: 0px;
                            }
                        }
                    }
                }

                ul:after {
                	bottom: 100%;
                	left: 50%;
                	border: solid transparent;
                	content: " ";
                	height: 0;
                	width: 0;
                	position: absolute;
                	pointer-events: none;
                	border-color: rgba(136, 183, 213, 0);
                	border-bottom-color: $primary;
                	border-width: 10px;
                	margin-left: -10px;
                }

                &.work-hover:hover ul {
                    display: block;
                }
            }

            li.active {
                a {
                    border-top: 0px solid #79ddd6;
                    border-bottom: 0px solid #50a7a2;
                    background-color: rgba(white, 0.0);
                    color: $secondary;
                }

                .zmdi {
                    padding-left: 5px;
                    font-size: 1.2em;
                    border-top: 0px;
                    border-bottom: 0px;
                    color: $secondary;
                    display: block;
                    background-color: rgba(black, 0.0);
                }

                ul {
                    li {
                        padding: 0;
                        a {
                            color: white;
                            border-bottom: 1px solid #040609;
                            border-top: 1px solid #151f2b;
                            padding-top: 15px;
                            padding-bottom: 15px;
                            background-color: rgba(white, 0.0);
                            padding-left: 0px;
                        }

                        &:first-child {
                            a {
                                border-top: 0px;
                            }
                        }

                        &:last-child {
                            a {
                                border-bottom: 0px;
                            }
                        }
                    }

                    li:hover {
                        a {
                            @include border-radius(5px);
                            background-color: #1d2937;
                            color: $secondary;
                        }
                    }
                }
            }
        }

}

@media (min-width: $bp-large) {

}
