.grid {
    @include grid-container(); }

[class*="col-"] {

    float: left;
    margin-right: $gutter;
    position: relative;
    box-sizing: border-box;

    &:last-child {
        margin-right: 0; }
}

.col-whole {
    @include grid-column(12); }

.col-half {
    @include grid-column(6); }

.col-third {
    @include grid-column(4); }

.col-two-third {
    @include grid-column(8); }

.col-quarter {
    @include grid-column(3); }

.col-three-quarter {
    @include grid-column(9); }

// Loop through the $breakpoints map
// and get key => value.
@each $name, $size in $breakpoints {

    @media (min-width: $size) {

        .#{$name}-col-whole {
            @include grid-column(12); }

        .#{$name}-col-half {
            @include grid-column(6); }

        .#{$name}-col-third {
            @include grid-column(4); }

        .#{$name}-col-two-third {
            @include grid-column(8); }

        .#{$name}-col-quarter {
            @include grid-column(3); }

        .#{$name}-col-three-quarter {
            @include grid-column(9); }

    }

}
