$color-name : rgb(167, 167, 167);
$color-testimonial : #000;
$font-size : 0.7em;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,300italic,400italic,600italic,700,700italic);

.testimonial {
    background-image: url('../images/quote.png');
    background-position: left 56px;
    background-repeat: no-repeat;
    padding-left: 60px;
    min-height: 80px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;

    p {
        color: $color-testimonial;
    }

    .name {
        color: $color-name;
        font-size: $font-size;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin-bottom: -10px;
    }

}
