.wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1100px;
    width: 90%;
}

.page-banner {
    height: 400px;
    /*background-image: url(../images/image-goes-here.JPG);*/
    background-position: center;
    background-size: cover;

    .slide {
        background-position: center;
        background-size: cover;
        height: 400px!important;
    }

    .slide-one {
        background-image: url(../images/scroll1.jpg);
    }

    .slide-two {
        background-image: url(../images/scroll2.jpg);
    }
}

.top-img .wrapper {
    position: relative;
}
