@import 'variables';
@import 'mixins';
@import 'hamburgers/hamburgers';
@import 'skeleton';
@import 'form';
@import 'testimonials';
@import 'wrap-banner';
@import 'navigation';
@import 'footer';
@import 'buttons';
@import 'images';


$body : #FFF;
$primary : #516986;
$secondary : #FC6620;
$font : #333333;

body {
    margin: 0;
    background-color: $body;
    font-family : 'Open Sans', sans-serif;
}

h1 { color: $font; font-family: 'Roboto Slab', serif; font-size: 2.2em; }
h2 {
    color: $font; font-family: 'Roboto Slab', serif; text-transform: uppercase; font-weight: 400;

    &.heading {
        font-size: 2.2em;
        text-transform: none;
    }
}
h3 { color: $font; }
p { color: $font; }

#browser-warning {
    max-width: 1100px;
    width: 90%;
    position: relative;
    margin: 0 auto;
}

span {
    &.highlight {
        color: $secondary;
    }
}

.hero {
    max-width: 1000px;
    width: 100%;

    .map-canvas {
        height: 400px;
    }
}

.project {
    padding: 20px 0;
    border-bottom: 1px solid #EEE;

    &:last-child {
        border-bottom: 0px;
    }

    .project-image {
        max-width: 500px;
        width: 100%;
    }

    .project-image-big {
        max-width: 800px;
        width: 100%;
    }

    a {
        color: $secondary;
        text-decoration: none;
    }
}

#cookieChoiceInfo {
    background-color: rgba(black, .85) !important;
    color: white;
    padding: 12px !important;
    bottom: 0;
    top: auto !important;
    z-index: 9999;

    a {
        color: $secondary;
    }
}

.contact-bar {
    text-align: left;
    background-color: $primary;

    .padding {
        padding-top: 15px;
    }

    p {
        display: inline-block;
        font-family: 'Roboto Slab', serif;
        font-size: 1.1em;
        text-align: right;
        padding: 0;
        margin: 0;
        color: white;
        margin-right: 2%;

        &:last-child {
            margin-right: 0;
        }
    }
}

.back-button {
    margin-top: 30px;

    a.back {
        background-color: $secondary;
        padding: 10px 20px;
        color: white;
        @include border-radius(5px);
    }
}


.gallery-style {
    background-size: cover;
    display: block;
    margin-top: 20px;
    height: 200px; }

.container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.content {
    padding-top: 10px;
    padding-bottom: 10px;

    ul {
        list-style-type: none;

        li::before {
            margin-left: -40px;
            font-family:Material-Design-Iconic-Font;
            content: "\f26b";
            margin-right: 10px;
        }
    }
}

@media (min-width: $bp-medium) {

    .border-left {
        border-left: 1px solid #EEE;
        padding-left: 15%;
    }

    .contact-bar {
        text-align: right;

        .padding {
            padding-top: 0px;
        }
    }
}

@media (min-width: $bp-large) {

}
