.editor-sidebar {
    background-color: white;
    box-shadow: 0 0 24px rgba(black, .1);
    border-left: 1px solid color(faded-grey);
    height: 100vh;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 28rem;

    header {
        border-bottom: 1px solid color(faded-grey);
        color: color(primary);
        padding: 2.4rem 2.4rem 1.6rem;

        a {
            color: inherit;
        }
    }

    section {
        border-bottom: 1px solid color(faded-grey);
        padding: 1.6rem 2.4rem;

        &.basic {
            padding: 0;
        }
    }
}
