.cms-editor {
    padding-top: 6rem;

    // Larger Labels for Editor
    label {
        font-size: 1.8rem;
    }

    // Title
    .field-title input {
        background: none;
        border-radius: 0;
        border: 0;
        font-family: unquote(map-get($type, 'heading-font'));
        font-size: 3.4rem;
        font-weight: 700;
        padding: 0 2.4rem;
    }

    // Wysiwyg
    .wysiwyg {

        .easyeditor-toolbar {
            border: 1px solid color(faded-grey);
            @include border-radius();
            background-color: white;
            padding: 0 .5rem;

            button {
                background: none;
                border: 0;
                color: lighten(color(primary), 10%);
                display: inline-block;
                padding: .6rem .5rem .5rem;
                line-height: 1;
                vertical-align: middle;
                margin: 0;

                &:hover {
                    color: color(primary);
                }

                &.toolbar-align-left,
                &.toolbar-bold {
                    margin-left: 2rem;
                }
            }

            ul li:last-child {
                float: right;
            }
        }

        .editor {
            font-family: unquote(map-get($type, 'body-font'));
            font-size: 1.8rem;
            margin: 2rem 0;
            padding: 2.4rem !important;
            min-height: 20rem;
            border: 2px dashed color(faded-grey);

            &:focus {
                appearance: none;
                box-shadow: none;
                border: 2px dashed color(light-grey);
                outline: none;
            }
        }

        &.std-editor .easyeditor-toolbar {
            background-color: color(primary);
            border: 0;
            border-radius: 0 !important;
            margin: -3.4rem -2.4rem 0 -2.4rem;

            button {
                color: white;
            }
        }
    }

}
