body {
    background-color: lighten(color(primary), 58%);
    padding: 3rem;

    @include mq(medium) {
        padding-left: 31rem;
    }

    @include mq(large) {
        padding-left: 28rem;
    }
}

.label {
    background-color: color(primary);
    border-radius: 2px;
    color: white !important;
    display: inline-block;
    padding: .4rem .5rem;
}

/**
 * Place any helper classes below here and prepend the
 * class names with cck- to avoid conflicts
 */
.cck-truncate {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.media-upload {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 0;
    left: -99999px;
    display: block;
}

/* Page Heading */
.page-title {
    padding: 2.4rem 0;
}

.page-title .sub-heading {
    color: #787878;
    font-family: sans-serif;
    font-weight: 400;
}


.help-card .answer {
    color: #777;
    display: none;
    margin: .8rem 0 1.4rem 0;
}
