.post-list i {
    font-size: 1em;
}
.post-list .post .post-snippet,
.post-list .post .post-date {
  color: #5d5d5d;
}

.post-list .post .post-actions {
  display: none;
  margin-top: .9rem;
}

.post-list .post .post-actions a {
  color: #ddd;
  font-size: .9em;
  display: inline-block;
}

.post-list .post .post-actions a.delete {
  color: red;
}

.post-list .post .post-actions a:not(:last-of-type):after {
  content: "|";
  display: inline-block;
  padding-left: .9rem;
  padding-right: .9rem;
}

.post-list .post .post-actions .droplet-info {
    color: #888;
    display: inline-block;
    font-size: .9em;
    margin-left: 1rem;
}

.post-list .post .post-actions a:hover {
  color: #434343;
}

.post-list .post:hover {
  background-color: #fdfdfd;
}

.post-list .post:hover .post-actions {
  display: block;
}
