.page-admin-login,
.page-admin-password {
    background-image: url('/_plugins/cms/ui/assets/images/bg.png');
    padding: 3rem;

    @include mq(medium) {
        padding-top: 18rem;
    }
}

.login-box {
    max-width: 43rem;
    margin: 0 auto;

    .logo {
        margin-bottom: 1.6rem;
        text-align: center;
    }

    .field {
        padding: .5rem 0;
    }
}
