/* Sidebar Toggle */
.sidebar-toggle {
    display: block;
    padding: 2.8rem;
    position: absolute;
    top: 0;
    right: 0;

    @include mq(medium) {
        display: none;
    }
}

/* Sidebar */
.sidebar {
    background-color: color(primary);
    border-right: 1px solid darken(color(primary), 6%);
    box-shadow: 0 0 24px rgba(black, .1);
    height: 100vh;
    position: fixed;
    left: -28rem;
    transition: left .4s;
    top: 0;
    width: 28rem;
    z-index: 9999;

    &.is-open {
        left: 0;
    }

    @include mq(medium) {
        left: 0;
    }
}

.sidebar header {
    color: white;
    padding: 2.4rem 2.4rem 1.6rem;
    position: relative;

    a {
        color: inherit;
    }

    .view-site {
        color: rgba(white, .3);
        display: block;
        padding: 2.1rem 2.4rem 1.9rem;
        position: absolute;
        top: 0;
        right: 0;

        &:hover {
            color: white;
        }
    }
}

.sidebar ul {
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    padding: 0;
    margin: 0;
}

.sidebar ul li a {
    color: rgba(255,255,255,.8);
    display: block;
    padding: .8rem 2.4rem;

    &.logout {
        margin-top: 3rem;
    }
}

.sidebar ul li a:hover {
    background-color: rgba(255,255,255,.07);
}

.sidebar ul li a.active {
    font-weight: 700;
}

.sidebar ul li a i {
    font-size: 18px;
    vertical-align: middle;
    margin-right: .5rem;
}

.sidebar .actions {
    padding: .6rem 2.4rem 2.8rem;
}

.sidebar .actions .button {
    display: block;
    text-align: center;
}

.site-logo {
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    display: inline-block;
    height: 28px;
    margin-right: .3em;
    width: 28px;
    vertical-align: middle;
}
