/**
 * States
 *
 * Utility classes that describe
 * the current state of an element.
 *
 * Available states which vary by
 * componenent are:
 *
 * .is-open
 * .is-closed
 * .is-loading
 */

/* Is Hidden */
.is-hidden,
[hidden] {
    display: none !important;
}

/* Is Displayed */
.is-displayed {
    display: block !important;

    /* Display inline-block */
    &.inline-block {
        display: inline-block !important;
    }

    /* Display inline */
    &.inline {
        display: inline !important;
    }
}
