/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: unquote(map-get($type, heading-font));
    font-weight: map-get($type, heading-weight);
    line-height: 1;

    &.sub-title {
        color: color(grey);
    }
}

h1,
.h1 {
    font-size: 2.8rem;
}
h2,
.h2 {
    font-size: 2.2rem;
}
h3,
.h3 {
    font-size: 1.8rem;
}
h4,
.h4 {
    font-size: 1.5rem;
}
h5,
.h5 {
    font-size: 1.4rem;
}
h6,
.h6 {
    font-size: 1.3rem;
}

/* Paragraphs */
p,
ul {
    line-height: 1.55;
    @include margin(large, bottom);
    @include margin(large, top);

    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }

    // Sizes
    &.extra-large {
        font-size: 1.4em;
    }
    &.large,
    &.lead {
        font-size: 1.2em;
    }
    &.medium {
        font-size: 1.1em;
    }
    &.small {
        font-size: .85em;
    }
    &.extra-small {
        font-size: .75em;
    }
}
