/**
 * Align
 *
 * Utility classes for text alignment
 */
@if $classes {

    .text-align-left {
        text-align: left;
    }

    .text-align-right {
        text-align: right;
    }

    .text-align-center,
    .text-align-centre {
        text-align: center;
    }

    .text-align-justify {
        text-align: justify;
    }

}
