/**
 * Border Radius
 *
 * Utility classes for applying
 * border radius to elements.
 *
 * @TODO:
 * - Create utlility classes for individual sides.
 */
@mixin border-radius($size: medium, $direction: false, $important: true) {

    // Get Radius
    @if map-has-key($border-radius, $size) {
        $size: map-get($border-radius, $size);
    } @elseif type-of($size) == 'number' {
        $size: $size;
    } @else {
        @warn "Invalid value for border radius: #{$size}";
    }

    // Output
    @if $direction {
        @if $important {
            border-#{$direction}-radius: $size !important;
        } @else {
            border-#{$direction}-radius: $size;
        }
    } @else {
        @if $important {
            border-radius: $size !important;
        } @else {
            border-radius: $size;
        }
    }

}

@if $classes {

    /* All Around Radius */
    .border-radius-extra-small { @include border-radius(extra-small, $important: true); }
    .border-radius-small { @include border-radius(small, $important: true); }
    .border-radius-medium { @include border-radius(medium, $important: true); }
    .border-radius-large { @include border-radius(large, $important: true); }
    .border-radius-extra-large { @include border-radius(extra-large, $important: true); }

}
