/**
 * Margin
 *
 * Utility classes for adding
 * margins to elements
 */

/**
 * @mixin: Margin
 *
 * $direction: top, right, bottom, left
 * Defaults to false, giving margin all around.
 *
 * $size: CSS value (px, em, rem, %) etc.
 */
@mixin margin($size, $direction: false, $important: false) {

    // Sizes
    @if $size == 'small' {
        $size: .3rem;
    } @elseif $size == 'medium' {
        $size: .6rem;
    } @elseif $size == 'large' {
        $size: .9rem;
    }

    // Output
    @if $direction {
        @if $important {
            margin-#{$direction}: $size !important;
        } @else {
            margin-#{$direction}: $size;
        }
    } @else {
        @if $important {
            margin: $size !important;
        } @else {
            margin: $size;
        }
    }

}

@if $classes {

    /* All Round Margin */
    .margin-small { @include margin(small, $important: true); }
    .margin-medium { @include margin(medium, $important: true); }
    .margin-large { @include margin(large, $important: true); }

    @for $size from 1 through 10 {
        .margin-#{$size} { @include margin(#{$size}rem, $important: true); }
    }

    /* Top Margin */
    .margin-top-small { @include margin(small, top, true); }
    .margin-top-medium { @include margin(medium, top, true); }
    .margin-top-large { @include margin(large, top, true); }

    @for $size from 1 through 10 {
        .margin-top-#{$size} { @include margin(#{$size}rem, top, true); }
    }

    /* Right Margin */
    .margin-right-small { @include margin(small, right, true); }
    .margin-right-medium { @include margin(medium, right, true); }
    .margin-right-large { @include margin(large, right, true); }

    @for $size from 1 through 10 {
        .margin-right-#{$size} { @include margin(#{$size}rem, right, true); }
    }

    /* Bottom Margin */
    .margin-bottom-small { @include margin(small, bottom, true); }
    .margin-bottom-medium { @include margin(medium, bottom, true); }
    .margin-bottom-large { @include margin(large, bottom, true); }

    @for $size from 1 through 10 {
        .margin-bottom-#{$size} { @include margin(#{$size}rem, bottom, true); }
    }

    /* Left Margin */
    .margin-left-small { @include margin(small, left, true); }
    .margin-left-medium { @include margin(medium, left, true); }
    .margin-left-large { @include margin(large, left, true); }

    @for $size from 1 through 10 {
        .margin-left-#{$size} { @include margin(#{$size}rem, left, true); }
    }

}
