/**
 * Padding
 *
 * Utility classes for adding
 * paddings to elements
 */

/**
 * @mixin: Padding
 *
 * $direction: top, right, bottom, left
 * Defaults to false, giving padding all around.
 *
 * $size: CSS value (px, em, rem, %) etc.
 */
@mixin padding($size, $direction: false, $important: false) {

    // Sizes
    @if $size == 'small' {
        $size: .3rem;
    } @elseif $size == 'medium' {
        $size: .6rem;
    } @elseif $size == 'large' {
        $size: .9rem;
    }

    // Output
    @if $direction {
        @if $important {
            padding-#{$direction}: $size !important;
        } @else {
            padding-#{$direction}: $size;
        }
    } @else {
        @if $important {
            padding: $size !important;
        } @else {
            padding: $size;
        }
    }

}

@if $classes {

    /* All Round Padding */
    .padding-small { @include padding(small, $important: true); }
    .padding-medium { @include padding(medium, $important: true); }
    .padding-large { @include padding(large, $important: true); }

    @for $size from 1 through 10 {
        .padding-#{$size} { @include padding(#{$size}rem, $important: true); }
    }

    /* Top Padding */
    .padding-top-small { @include padding(small, top, true); }
    .padding-top-medium { @include padding(medium, top, true); }
    .padding-top-large { @include padding(large, top, true); }

    @for $size from 1 through 10 {
        .padding-top-#{$size} { @include padding(#{$size}rem, top, true); }
    }

    /* Right Padding */
    .padding-right-small { @include padding(small, right, true); }
    .padding-right-medium { @include padding(medium, right, true); }
    .padding-right-large { @include padding(large, right, true); }

    @for $size from 1 through 10 {
        .padding-right-#{$size} { @include padding(#{$size}rem, right, true); }
    }

    /* Bottom Padding */
    .padding-bottom-small { @include padding(small, bottom, true); }
    .padding-bottom-medium { @include padding(medium, bottom, true); }
    .padding-bottom-large { @include padding(large, bottom, true); }

    @for $size from 1 through 10 {
        .padding-bottom-#{$size} { @include padding(#{$size}rem, bottom, true); }
    }

    /* Left Padding */
    .padding-left-small { @include padding(small, left, true); }
    .padding-left-medium { @include padding(medium, left, true); }
    .padding-left-large { @include padding(large, left, true); }

    @for $size from 1 through 10 {
        .padding-left-#{$size} { @include padding(#{$size}rem, left, true); }
    }

}
