/**
 * Position
 *
 * Utility for positioning elements
 * with absolute, fixed or sticky
 * positioning.
 */
@mixin position($type, $top: false, $right: false, $bottom: false, $left: false) {

    position: $type;

    @if $top {
        top: $top;
    }
    @if $right {
        right: $right;
    }
    @if $bottom {
        bottom: $bottom;
    }
    @if $left {
        left: $left;
    }
}
