/**
 * Weights
 *
 * Utility classes for applying weights
 * to text.
 */
@if $classes {

    .text-heavy {
        font-weight: 900;
    }

    .text-bold {
        font-weight: 700;
    }

    .strong {
        font-weight: 600;
    }

    .text-normal {
        font-weight: 400;
    }

    .text-light {
        font-weight: 300;
    }

    .text-thin {
        font-weight: 100;
    }

}
