/**
 * Alert
 *
 * Styled element for displaying
 * prominent messages.
 */

/**
 * @mixin Alert
 */
@mixin alert() {
    background-color: color(faded-grey);
    @include border-radius;
    color: color(black);
    @include padding(1.4rem);
    position: relative;

    .close {
        color: rgba(black, .4);
        font-size: 1.5em;
        @include padding(.4em .8em);
        @include position(absolute, $top: 0, $right: 0);

        &:after {
            content: "\00d7";
        }

        &:hover {
            color: rgba(black, .8);
        }
    }

    &.basic {
        background-color: transparent;
        border: 1px solid color(faded-grey);
        color: color(dark-grey);
    }

    &.pronounced {
        background-color: transparent;
        border: 2px solid color(faded-grey);
        color: color(dark-grey);
        font-weight: 600;
    }
}

/**
 * @mixin Alert Style
 *
 * Apply styles to alert elements
 */
@mixin alert-style($type: neutral, $style: default) {

    // Colour / Type
    @if map-has-key($colours, $type) or type-of($type) == 'color' {

        // Default
        @if $style == 'default' {
            background-color: color($type);
            color: auto-color($type);
        } @elseif $style == 'basic' {
            background-color: transparent;
            border: 1px solid color($type);
            color: color(dark-grey);
        } @elseif $style == 'pronounced' {
            background-color: transparent;
            border: 2px solid color($type);
            color: color($type);
        }

    }

}

/**
 * @mixin Alert Size
 */
@mixin alert-size($size) {

    @if $size == 'extra-small' {
        font-size: 1.2rem;
        @include padding(.6rem);
    } @elseif $size == 'small' {
        font-size: 1.3rem;
        @include padding(1rem);
    } @elseif $size == 'medium' {
        @include padding(1.4rem);
    } @elseif $size == 'large' {
        font-size: 1.8rem;
        @include padding(1.6rem);
    } @elseif $size == 'extra-large' {
        font-size: 2.1rem;
        @include padding(2rem);
    }

}

@if $classes {

    .alert {
        @include alert;

        // Colours / Types
        @each $color, $value in $colours {
            &.#{$color} {
                @include alert-style($color);

                &.basic {
                    @include alert-style($color, basic);
                }

                &.pronounced {
                    @include alert-style($color, pronounced);
                }
            }
        }

        // Sizes
        @each $size in extra-small small medium large extra-large {
            &.#{$size} {
                @include alert-size($size);
            }
        }
    }

}
