/**
 * Buttons
 *
 * Styled buttons.
 */

/**
 * @mixin: Button
 *
 * Provides the base styles for
 * a button element and sensible
 * default colours.
 */
@mixin button() {
    background-color: #fff;
    @include border-radius();
    box-sizing: border-box;
    border: 1px solid rgba(black, .2);
    border-bottom-width: 2px;
    color: #555;
    display: inline-block;
    font-size: font-size(root-size);
    line-height: 1;
    overflow: hidden;
    @include padding(.9rem 1.2rem);

    .material-icons {
        font-size: 1em;
        vertical-align: middle;
    }
}

/**
 * @mixin: Button Style
 *
 * Customise the button style using
 * a style type keyword with primary
 * and accent colours.
 *
 * Keywords:
 * 'default': Solid background and accent colour text.
 * 'basic': Accent colour border with no background colour and accent colour text.
 * 'pronounced': Thick (2px) primary colour border with primary colour text.
 */
@mixin button-style($primary-color: #fff, $accent-color: #555, $type: default) {

    @if $type == 'default' {
        background-color: $primary-color;
        color: $accent-color;

        &:hover {
            background-color: darken($primary-color, 10%);
        }
    } @elseif $type == 'basic' {
        background-color: transparent;
        border: 1px solid $primary-color;
        color: $primary-color;

        &:hover {
            background-color: $primary-color;
            color: auto-color($primary-color);
        }
    } @elseif $type == 'pronounced' {
        background-color: transparent;
        border: 2px solid $primary-color;
        color: $primary-color;
        font-weight: 600;

        &:hover {
            background-color: $primary-color;
            color: auto-color($primary-color);
        }
    }

}

/**
 * @mixin: Button Size
 *
 * Set the size of a button element using
 * keywords.
 */
@mixin button-size($size) {

    @if $size == 'extra-small' {
        font-size: 1.2rem;
        @include padding(.4rem .8rem);
    } @elseif $size == 'small' {
        font-size: 1.3rem;
        @include padding(.5rem .9rem);
    } @elseif $size == 'medium' {
        font-size: font-size(root-size);
        @include padding(.9rem 1.2rem);
    } @elseif $size == 'large' {
        font-size: 1.8rem;
        @include padding(1.4rem 2.4rem);
    } @elseif $size == 'extra-large' {
        font-size: 2.1rem;
        @include padding(1.5rem 2.5rem);
    }

}

/**
 * @mixin Button Group
 *
 * Mixin for creating connected
 * groups of buttons.
 */
@mixin button-group($button-class: 'button') {
    font-size: 0;

    .#{$button-class} {
        @include border-radius(0);

        &:first-child {
            @include border-radius(medium, bottom-left);
            @include border-radius(medium, top-left);
        }

        &:last-child {
            @include border-radius(medium, bottom-right);
            @include border-radius(medium, top-right);
        }

        &.basic:not(:last-child),
        &.pronounced:not(:last-child) {
            border-right-width: 0;
        }
    }
}

@if $classes {

    /* Button */
    .button {
        @include button;

        // Colours
        @each $color, $value in $colours {
            &.#{$color} {
                @include button-style($value, auto-color($value));

                &.basic {
                    @include button-style($value, auto-color($value), basic);
                }

                &.pronounced {
                    @include button-style($value, auto-color($value), pronounced);
                }
            }
        }

        // Sizes
        @each $size in extra-small small medium large extra-large {
            &.#{$size} {
                @include button-size($size);
            }
        }

        // States
        &.is-loading {
            opacity: .3;
        }

    }

    /* Button Group */
    .button-group {
        @include button-group;
    }

}
