/**
 * Card
 *
 * Display content in a card
 * based style.
 */

/**
 * @mixin: Card
 */
@mixin card($raise: false) {
    background-color: white;
    border: 1px solid color(faded-grey);
    @include border-radius;
    overflow: hidden;
    position: relative;
    @include margin(2.4rem, top, false);

    &:first-child {
        margin-top: 0;
    }

    &[disabled],
    &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    > .title {
        border-bottom: 1px solid color(faded-grey);
        font-size: 1.7rem;
        @include padding(1.3rem 2.4rem);
    }

    > .image,
    > .media,
    > .map {
        @include margin(-.1rem, top);

        > img {
            display: block;
            width: 100%;
        }
    }

    > .map {
        height: 16rem;

        @include mq(small) {
            height: 19rem;
        }

        @include mq(medium) {
            height: 26rem;
        }
    }

    > .content {
        @include padding(2.4rem);

        + .content {
            border-top: 1px solid color(faded-grey);
        }

        > .title {
            font-size: 1.7rem;
            @include margin(.8rem, bottom);

            + .sub-title {
                @include margin(-.8rem, top);
            }
        }

        > .sub-title {
            color: color(light-grey);
            font-weight: 400;
            @include margin(.8rem, bottom);
        }
    }

    // Header
    > .header {
        background-color: lighten(color(faded-grey), 5%);
        border-bottom: 1px solid color(faded-grey);
        @include padding(1.3rem 2.4rem);

        > .title {
            font-size: 1.7rem;
        }

        > .sub-title {
            color: color(light-grey);
            font-size: 1.4rem;
            font-weight: 400;
        }
    }

    // Footer
    > .footer {
        background-color: lighten(color(faded-grey), 5%);
        border-top: 1px solid color(faded-grey);
        font-size: .9em;
        @include padding(1.3rem 2.4rem);
    }

    // Close Button
    .close {
        color: rgba(black, .4);
        font-size: 1.5em;
        @include padding(.4em .8em);
        @include position(absolute, $top: 0, $right: 0);

        &:after {
            content: "\00d7";
        }

        &:hover {
            color: rgba(black, .8);
        }
    }
}

/**
 * @mixin: Card Style
 *
 * Add style to card elements
 */
@mixin card-style($styles) {

    // Check $styles is a map
    @if type-of($styles) != 'map' {
        @error "$styles must be a map.";
    }

    // Raise (Shadow)
    @if map-has-key($styles, 'raise') and map-has-key($card-shadows, map-get($styles, 'raise')) {
        box-shadow: map-get($card-shadows, map-get($styles, 'raise'));
    }

    // Color Card
    @if map-has-key($styles, 'background-color') {
        background-color: color(map-get($styles, 'background-color'));
        border: none;

        > .title {
            border-bottom: none;
            @include padding(2.4rem, top);

            + .content {
                padding-top: 0;
            }
        }

        // Text Color
        @if map-has-key($styles, 'color') {
            color: color(map-get($styles, 'color'));
        } @else {
            color: auto-color(color(map-get($styles, 'background-color')));
        }
    }
}

@if $classes {

    .card {
        @include card;

        // Card Levels
        @each $level, $value in $card-shadows {
            &.#{$level} {
                @include card-style((
                    raise: $level
                ));
            }
        }

        // Colours
        @each $color, $value in $colours {
            &.#{$color} {
                @include card-style((
                    background-color: $color
                ));
            }
        }
    }

}
