/**
 * Code
 *
 * Utility class for styling code
 * blocks.
 */
@if $classes {

    code,
    pre {
        background-color: lighten(color(faded-grey), 3%);
        @include border-radius(small);
        color: color(neutral);
        font-family: unquote(map-get($type, monospace-font));
        font-size: 1.3rem;
        display: inline-block;
        line-height: 1;
        @include padding(.45rem .8rem);
    }

    pre {
        color: color(dark-grey);
        display: block;
        line-height: 1.6;
        @include padding(1.4rem);
    }

}
