/**
 * Container
 *
 * Centralised container, normally used
 * for centering the page or content.
 *
 * @TODO:
 * - Make container keyword values customisable.
 */

/**
 * @mixin: Container
 *
 * $width: CSS Value or Keyword (extra-small, small, medium, large, extra-large) (defaults to max-width of 96rem)
 * $align: left, center. (defaults to center)
 */
@mixin container($width: large, $align: center) {

    // Alignments
    @if $align == 'center' {
        margin-left: auto;
        margin-right: auto;
    }

    // Set Width
    @if map-has-key($container, $width) {
        $width: map-get($container, $width);
    } @elseif type-of($width) != 'number' {
        @warn "Invalid width value: #{$width} for @container."
    }

    // Width
    max-width: $width;

}

@if $classes {

    /* Default Container (Large) */
    .container {
        @include container;

        // Align left
        &.align-left {
            @include container($align: left);
        }

        // Extra Small
        &.extra-small {
            @include container(extra-small);

            &.align-left {
                @include container(extra-small, left);
            }
        }

        // Small
        &.small {
            @include container(small);

            &.align-left {
                @include container(small, left);
            }
        }

        // Medium
        &.medium {
            @include container(medium);

            &.align-left {
                @include container(medium, left);
            }
        }

        // Large (Defaults to this size)
        &.large {
            @include container(large);

            &.align-left {
                @include container(large, left);
            }
        }

        // Extra Large
        &.extra-large {
            @include container(extra-large);

            &.align-left {
                @include container(extra-large, left);
            }
        }
    }

}
