form {

    .field {
        @include padding(1rem 0);
    }

    .description {
        color: color(grey);
        font-size: .9em;

        i {
            vertical-align: middle;
        }
    }

}

fieldset {
    border: 1px solid color(faded-grey);
    @include border-radius;
    @include margin(1.5rem 0);
    @include padding(1.4rem);

    &:first-of-type {
        margin-top: 0;
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}

label {
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0.2em;

    &.required::after {
        content: "*";
    }

    &.is-hidden {
        display: none;
    }

    abbr {
        display: none;
    }
}

input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="password"],
select,
textarea {
    background-color: white;
    border: 1px solid color(faded-grey);
    @include border-radius;
    box-sizing: border-box;
    font-size: map-get($type, root-size);
    font-family: unquote(map-get($type, body-font));
    @include padding(0.85rem);
    width: 100%;

    &.is-invalid {
        border-color: color(negative);
    }

    &:hover {
        border: 1px solid color(light-grey);
    }

    &:focus {
        appearance: none;
        border-color: color(neutral);
        box-shadow: none;
        outline: none;
    }
}

input[type="checkbox"] {
    appearance: none;
    background-color: white;
    border: 1px solid color(faded-grey);
    cursor: pointer;
    display: inline-block;
    @include border-radius;
    @include padding(.65rem);

    &:focus {
        appearance: none;
        border-color: color(neutral);
        box-shadow: none;
        outline: none;
    }

    &:checked {
        background-color: color(primary);
        border-color: color(neutral);
    }
}

input[type="search"] {
    appearance: none;
}

select {
    appearance: none;
    background: url('../images/select.png') right no-repeat white;
    @include padding(0.85rem 1.85rem 0.85rem 0.85rem);
}

textarea {
    height: 15rem;
    resize: vertical;
}
