/**
 * List
 *
 * @NOTE: NOT USED!
 */
@if $classes {

    ul {
        line-height: 1.2;
        @include margin(1.4rem, left);

        li {
            @include padding(.2rem 0);

            &:before {
                content: "\00BB";
                display: inline-block;
                @include margin(medium, right);
            }
        }

        &.basic {
            margin-left: 0;

            li:before {
                display: none;
            }
        }
    }

}
