/**
 * Media
 *
 * Responsive utlility for embedding
 * media.
 */
@mixin media($ratio: '16:9') {

    // Aspect Ratio
    @if map-has-key($aspect-ratios, $ratio) {
        $ratio: map-get($aspect-ratios, $ratio);
    } @else {
        @warn "Invalid aspect ratio: #{$ratio} for media."
    }

    position: relative;
    padding-bottom: $ratio;
    height: 0;
    overflow: hidden;
    max-width: 100%;

    iframe,
    object,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@if $classes {

    .media {
        @include media;

        // 4:3 Aspect Ratio
        &.ratio-4x3 {
            @include media('4:3');
        }
    }

}
