/**
 * Modal
 *
 * Styled popup elements
 *
 * @NOTE: Max width is set using
 * the sizes defined in the $containers
 * map.
 */
@mixin modal($max-width: medium) {
    background-color: color(white);
    @include border-radius;
    display: none;

    @include mq(small) {
        min-width: 42rem;
    }

    @if map-has-key($container, $max-width) {
        max-width: map-get($container, $max-width);
    } @elseif type-of($max-width) == 'number' {
        max-width: $max-width;
    }
}

@if $classes {

    .modal {
        @include modal;

        // Fluid with Max Width
        @each $size, $value in $container {
            &.#{$size} {
                max-width: $value;
            }
        }

        // Fixed Width
        @each $size, $value in $container {
            &.#{$size}.fixed {
                width: $value;
            }
            &.#{$size}.force-fixed {
                width: $value !important;
            }
        }
    }

}
