.cf-alert {
    border-radius: 4px;
    background-color: #eee;
    color: #555;
    padding: 12px;
}

.cf-alert.positive {
    background-color: #cef5d0;
    color: #499c4d;
}

.cf-alert.negative {
    background-color: #e4cfcf;
    color: #d14b4b;
}

.cf-alert.warning {
    background-color: #f7f5d8;
    color: #d1c90d;
}
