.cover-image {
    .placeholder {
        background-color: lighten(color(primary), 57%);
        border: 1px solid rgba(black, .1);
        @include border-radius();
        padding: 2rem;
        text-align: center;

        > i {
            color: color(grey);
            display: block;
            text-align: center;
            font-size: 4.6rem;
            margin-bottom: 1.4rem;
        }
    }

    .image {
        position: relative;

        .remove-image {
            display: none;
            opacity: 0;
            transition: opacity .3s;
            position: absolute;
            top: .8rem;
            left: .8rem;
        }

        img {
            @include border-radius();
            display: block;
        }

        &:hover .remove-image {
            opacity: 1;
        }
    }
}
