.field-repeater {

    .sub-fields .sub-field-group {
        border-bottom: 2px solid color(faded-grey);
        margin-top: .8rem;
        position: relative;

        .field {
            background-color: lighten(color(faded-grey), 3%);
            padding: 1rem;

            // Label
            label {
                font-size: 1em;
            }
        }

        // Remove action
        .repeater-remove-field {
            position: absolute;
            top: -.8rem;
            right: -.8rem;
            margin: 0;
            opacity: 0;
            transition: opacity .3s;
        }

        &:hover {
            > .repeater-remove-field {
                opacity: 1;
            }
        }

        .sub-field-group .field {
            background-color: color(white);
            padding: 1rem;
        }

    }

    .sub-field-actions {
        margin-top: .8rem;
        text-align: right;
    }

}
