/**
 * @mixin: Media Query (MQ)
 *
 * Mixin for declaring media
 * queries.
 */
@mixin mq($size, $query: min-width) {

    @if map-has-key($breakpoints, $size) {
        $size: map-get($breakpoints, $size);
    } @elseif type-of($size) == 'number' {
        $size: $size;
    }

    @media (#{$query}: $size) {
        @content;
    }

}
